Repository hmcts/pip-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint

eslint:
  run: yarn eslint --fix {staged_files}

prettier:
  run: yarn prettier --write {staged_files}

stylelint:
  run: yarn stylelint {staged_files}

advance doesnt show on list
  src/main/controllers/SummaryOfPublicationsController.ts
Due: eslint, prettier

Advance doesnt show on list
  src/main/controllers/SummaryOfPublicationsController.ts
  src/main/resources/listLookup.json
Due: eslint, prettier

Updated publication service test
  src/test/unit/service/PublicationService.test.ts
Due: eslint, prettier

updated vulnerabilities
  yarn-audit-known-issues
Due: none

made warned hidden, advance visiable now
  src/main/resources/listLookup.json
Due: none

corrected more tests
  src/test/unit/service/PublicationService.test.ts
  src/test/unit/service/SubscriptionService.test.ts
Due: eslint, prettier

Fix blob explorer resubmit subscription for cases
  src/main/resources/requests/PublicationRequests.ts
  src/main/service/PublicationService.ts
  src/main/service/SubscriptionService.ts
  src/test/unit/requests/publicationRequests.test.ts
  src/test/unit/service/PublicationService.test.ts
  src/test/unit/service/SubscriptionService.test.ts
Due: eslint, prettier

Update suppressions
  yarn-audit-known-issues
Due: none

PUB-3286 Add deleted account MI report (#1714)
  src/main/controllers/system-admin/DownloadMiReportController.ts
  src/main/resources/locales/en/download-mi-report.json
  src/main/resources/requests/AccountManagementRequests.ts
  src/main/resources/requests/PublicationRequests.ts
  src/main/resources/requests/SubscriptionRequests.ts
  src/main/service/DownloadMiReportService.ts
  src/test/unit/controllers/system-admin/DownloadMiReportController.test.ts
  src/test/unit/requests/accountManagementRequests.test.ts
  src/test/unit/service/DownloadMiReportService.test.ts
  yarn-audit-known-issues
Due: eslint, prettier

updated jenkins files
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
Due: none

added suppressions
  yarn-audit-known-issues
Due: none

Merge remote-tracking branch 'origin/master' into PUB-3313
  package.json
  src/main/controllers/system-admin/DownloadMiReportController.ts
  src/main/resources/locales/en/download-mi-report.json
  src/main/resources/requests/AccountManagementRequests.ts
  src/main/resources/requests/PublicationRequests.ts
  src/main/resources/requests/SubscriptionRequests.ts
  src/main/service/DownloadMiReportService.ts
  src/test/unit/controllers/system-admin/DownloadMiReportController.test.ts
  src/test/unit/requests/accountManagementRequests.test.ts
  src/test/unit/service/DownloadMiReportService.test.ts
Due: eslint, prettier

Adding to to look up
  src/main/resources/listLookup.json
Due: none

PUB-3293: Fixing displayTo bug (#1717)
  README.md
  src/main/service/ManualUploadService.ts
  src/test/unit/service/ManualUploadService.test.ts
Due: eslint, prettier

Update postcode requirement for SJP
  src/main/service/listManipulation/SjpPublicListService.ts
  src/test/unit/service/listManipulation/SjpPublicListService.test.ts
Due: eslint, prettier

Removed redundant flag
  src/main/resources/listLookup.json
Due: none

Removed redundant flag
  src/main/controllers/SummaryOfPublicationsController.ts
  src/main/resources/listLookup.json
Due: eslint, prettier

Update style guide
  src/main/controllers/style-guide/CrownAdvancePddaListController.ts
  src/main/resources/listLookup.json
  src/main/resources/locales/cy/crown-advance-pdda-list.json
  src/main/resources/locales/en/crown-advance-pdda-list.json
  src/main/service/listManipulation/CrownAdvancePddaListService.ts
  src/main/views/style-guide/crown-advance-pdda-list.njk
  src/test/unit/controllers/style-guide/CrownAdvancePddaListController.test.ts
Due: eslint, prettier

Fix failing view tests
  src/test/unit/views/style-guide/crown-advance-pdda-list.test.ts
Due: eslint, prettier

Fix sonarqube duplicate code issue
  src/main/controllers/style-guide/CrownAdvancePddaListController.ts
  src/main/controllers/style-guide/CrownPddaListController.ts
  src/main/service/listManipulation/CrownPddaListService.ts
Due: eslint, prettier

Revert schema changes back to WarnedList
  src/main/controllers/style-guide/CrownAdvancePddaListController.ts
  src/main/service/listManipulation/CrownAdvancePddaListService.ts
  src/test/unit/mocks/crownAdvancePddaList.json
Due: eslint, prettier

Revert schema changes back to WarnedList
  yarn-audit-known-issues
Due: none

Adding new list type
  src/main/assets/scss/home.scss
  src/main/resources/locales/cy/business-and-property-division-rolls-building-daily-cause-list.json
  src/main/resources/locales/en/business-and-property-division-rolls-building-daily-cause-list.json
  src/main/routes/routes.ts
  src/main/views/style-guide/business-and-property-division-rolls-building-daily-cause-list.njk
  src/test/routes/style-guide/business-and-property-division-rolls-building-daily-cause-list.test.ts
  src/test/unit/mocks/businessAndPropertyDivisionRollsBuildingDailyCauseList.json
  src/test/unit/views/style-guide/business-and-property-division-rolls-building-daily-cause-list.test.ts
Due: eslint, prettier, stylelint

Fixing unit tests and add to yarn-audit-known-issues
  src/test/unit/service/ManualUploadService.test.ts
  src/test/unit/service/PublicationService.test.ts
  src/test/unit/views/subscription-configure-list.test.ts
  yarn-audit-known-issues
Due: eslint, prettier

Renaming Interim Applications list
  src/main/resources/listLookup.json
  src/main/resources/locales/en/interim-applications-daily-cause-list.json
  src/test/a11y/tests/style-guide/interim-applications-daily-cause-list.test.ts
  src/test/routes/style-guide/interim-applications-daily-cause-list.test.ts
  src/test/unit/views/style-guide/interim-applications-daily-cause-list.test.ts
  src/test/unit/views/subscription-configure-list.test.ts
Due: eslint, prettier

Renaming Interim Applications list
  src/main/resources/listLookup.json
  src/main/routes/routes.ts
  src/main/views/style-guide/interim-applications-daily-cause-list.njk
  src/test/a11y/tests/style-guide/interim-applications-daily-cause-list.test.ts
  src/test/routes/style-guide/interim-applications-daily-cause-list.test.ts
  src/test/unit/views/style-guide/interim-applications-daily-cause-list.test.ts
Due: eslint, prettier

Fixing tests and file names
  src/main/resources/listLookup.json
  src/main/resources/locales/cy/interim-applications-chd-daily-cause-list.json
  src/main/resources/locales/en/interim-applications-chd-daily-cause-list.json
  src/main/routes/routes.ts
  src/main/views/style-guide/interim-applications-chd-daily-cause-list.njk
  src/test/a11y/tests/style-guide/interim-applications-daily-cause-list.test.ts
  src/test/routes/style-guide/interim-applications-daily-cause-list.test.ts
  src/test/unit/views/style-guide/interim-applications-daily-cause-list.test.ts
Due: eslint, prettier

Updating yarn-audit-known-issues
  yarn-audit-known-issues
Due: none

Updating interim applications list justice statement
  src/main/resources/locales/cy/business-and-property-division-rolls-building-daily-cause-list.json
  src/main/resources/locales/cy/interim-applications-chd-daily-cause-list.json
  src/main/resources/locales/en/business-and-property-division-rolls-building-daily-cause-list.json
  src/main/resources/locales/en/interim-applications-chd-daily-cause-list.json
  src/main/views/style-guide/interim-applications-chd-daily-cause-list.njk
  src/test/a11y/tests/style-guide/interim-applications-chd-daily-cause-list.test.ts
  src/test/routes/style-guide/interim-applications-chd-daily-cause-list.test.ts
  src/test/unit/views/style-guide/interim-applications-chd-daily-cause-list.test.ts
Due: eslint, prettier

implement cft IDAM changes
  src/main/controllers/CftLoginController.ts
  src/main/helpers/envUrls.ts
  src/main/routes/routes.ts
  src/test/end-to-end/tests/custom-steps.ts
  src/test/unit/controllers/CftLoginController.test.ts
Due: eslint, prettier

suppress issues
  yarn-audit-known-issues
Due: none

add tryTo import
  src/test/end-to-end/tests/custom-steps.ts
Due: eslint, prettier

Update style guide
  src/main/resources/locales/cy/business-and-property-division-rolls-building-daily-cause-list.json
  src/main/resources/locales/en/business-and-property-division-rolls-building-daily-cause-list.json
  src/main/views/style-guide/business-and-property-division-rolls-building-daily-cause-list.njk
Due: none

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx, md, yaml, yml, mdx, json}
  stylelint: any of: **/*.scss
