Repository hmcts/pip-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint

eslint:
  run: yarn eslint --fix {staged_files}

prettier:
  run: yarn prettier --write {staged_files}

stylelint:
  run: yarn stylelint {staged_files}

lint fixes
  src/main/controllers/style-guide/SjpPressListController.ts
  src/main/controllers/style-guide/SjpPublicListController.ts
  src/test/unit/controllers/style-guide/SjpPressListController.test.ts
  src/test/unit/controllers/style-guide/SjpPublicListController.test.ts
Due: eslint, prettier

Sonarqube fixes
  src/main/controllers/style-guide/SjpPressListController.ts
  src/main/controllers/style-guide/SjpPublicListController.ts
Due: eslint, prettier

Fixed failing routes tests
  src/test/routes/style-guide/single-justice-procedure-press.test.ts
  src/test/routes/style-guide/single-justice-procedure-public.test.ts
Due: eslint, prettier

PUB-2516: Adding FaCT link to start page (#1307)
  src/main/resources/locales/cy/home.json
  src/main/resources/locales/en/home.json
  src/main/views/home.njk
  src/test/unit/views/home.test.ts
Due: eslint, prettier

Added test for sjp list filter
  src/test/end-to-end/shared/mocks/sjp-paging-and-filter.json
  src/test/end-to-end/tests/sjp-cases-filter-and-paging-test.ts
Due: eslint, prettier

Added test for sjp list filtering
  src/test/end-to-end/tests/sjp-cases-filter-and-paging-test.ts
Due: eslint, prettier

Code review fix
  src/main/controllers/style-guide/SjpPressListController.ts
  src/main/controllers/style-guide/SjpPublicListController.ts
  src/main/helpers/listHelper.ts
  src/test/unit/controllers/style-guide/SjpPressListController.test.ts
  src/test/unit/controllers/style-guide/SjpPublicListController.test.ts
  src/test/unit/helpers/listHelper.test.ts
Due: eslint, prettier

Lint fixes
  src/main/controllers/style-guide/SjpPressListController.ts
  src/main/controllers/style-guide/SjpPublicListController.ts
  src/main/helpers/listHelper.ts
  src/test/unit/controllers/style-guide/SjpPressListController.test.ts
  src/test/unit/helpers/listHelper.test.ts
Due: eslint, prettier

PUB-2507 - Amended text and tests (#1306)
  src/main/resources/locales/cy/home.json
  src/main/resources/locales/en/home.json
  src/test/end-to-end/tests/unverified-user-end-to-end-journey-test.ts
  src/test/unit/views/home.test.ts
Due: eslint, prettier

PUB-1825 - Removed inappropriate entries in our tests
  src/test/unit/mocks/crownFirmList.json
  src/test/unit/mocks/crownFirmSemiDigested.json
  src/test/unit/mocks/hearingparty/crownFirmList.json
  src/test/unit/mocks/hearingparty/crownFirmSemiDigested.json
  src/test/unit/service/listManipulation/CrownFirmListService.test.ts
  src/test/unit/service/listManipulation/hearingparty/CrownFirmListService.test.ts
  src/test/unit/views/style-guide/crown-firm-list.test.ts
  src/test/unit/views/style-guide/hearingparty/crown-firm-list.test.ts
Due: eslint, prettier

Return after SJP post is redirected
  src/main/controllers/style-guide/SjpPressListController.ts
  src/main/controllers/style-guide/SjpPublicListController.ts
Due: eslint, prettier

PUB-1825 - Modified entries
  src/test/unit/mocks/crownFirmList.json
  src/test/unit/mocks/crownFirmSemiDigested.json
  src/test/unit/views/style-guide/crown-firm-list.test.ts
Due: eslint, prettier

PUB-1825 - Modified entries - Surnames and Forenames
  src/test/unit/mocks/crownFirmSemiDigested.json
  src/test/unit/service/listManipulation/CrownFirmListService.test.ts
Due: eslint, prettier

PUB-1825 - Modified further entries - organisationNames
  src/test/unit/mocks/crownFirmList.json
  src/test/unit/mocks/crownFirmSemiDigested.json
  src/test/unit/service/listManipulation/CrownFirmListService.test.ts
Due: eslint, prettier

PUB-1825 - Modified defendant entry
  src/test/unit/mocks/crownFirmSemiDigested.json
Due: none

PUB-1825 - Removed inappropriate entries in our tests (#1309)
  src/test/unit/mocks/crownFirmList.json
  src/test/unit/mocks/crownFirmSemiDigested.json
  src/test/unit/service/listManipulation/CrownFirmListService.test.ts
  src/test/unit/views/style-guide/crown-firm-list.test.ts
Due: eslint, prettier

Fixed issue with URL changed after clicking paginated page
  src/main/controllers/style-guide/SjpPressListController.ts
  src/main/controllers/style-guide/SjpPublicListController.ts
Due: eslint, prettier

Removed calls to channel-management
  README.md
  charts/pip-frontend/values.yaml
  config/default.json
  src/main/resources/requests/PublicationFileRequests.ts
  src/main/resources/requests/utils/axiosConfig.ts
  src/main/service/ListDownloadService.ts
  src/test/unit/requests/channelManagementRequests.test.ts
  src/test/unit/resources/requests/utils/axiosConfigTest.ts
  src/test/unit/service/ListDownloadService.test.ts
Due: eslint, prettier

Bumping chart version/ fixing aliases
  charts/pip-frontend/Chart.yaml
Due: none

Update readme diagram
  frontend-arch.png
Due: none

From line saying frontend is connecting to publication services from readme
  README.md
Due: none

Update format of publication file endpoints
  src/main/resources/requests/PublicationFileRequests.ts
  src/main/service/ListDownloadService.ts
  src/test/unit/requests/publicationFileRequests.test.ts
Due: eslint, prettier

Lint fixes
  src/test/unit/requests/publicationFileRequests.test.ts
Due: eslint, prettier

Fixed failing unit tests
  src/main/resources/requests/PublicationFileRequests.ts
  src/test/unit/requests/publicationFileRequests.test.ts
  src/test/unit/service/ListDownloadService.test.ts
Due: eslint, prettier

fix bugs
  src/main/views/macros/sjp-common.njk
  src/test/unit/views/style-guide/single-justice-procedure-press.test.ts
Due: eslint, prettier

fix formatting
  src/test/unit/views/style-guide/single-justice-procedure-press.test.ts
Due: eslint, prettier

PUB-2487 - Added pagination to the SJP Lists (#1303)
  charts/pip-frontend/Chart.yaml
  charts/pip-frontend/values.yaml
  src/main/assets/scss/main.scss
  src/main/controllers/style-guide/SjpPressListController.ts
  src/main/controllers/style-guide/SjpPublicListController.ts
  src/main/models/style-guide/sjp-model.ts
  src/main/service/SjpFilterService.ts
  src/main/service/listManipulation/SjpPressListService.ts
  src/main/service/listManipulation/SjpPublicListService.ts
  src/main/views/macros/sjp-common.njk
  src/main/views/sjp-template.njk
  src/main/views/style-guide/single-justice-procedure-press.njk
  src/main/views/style-guide/single-justice-procedure.njk
  src/test/a11y/tests/style-guide/sjp-press-list.test.ts
  src/test/a11y/tests/style-guide/sjp-public-list.test.ts
  src/test/end-to-end/shared/mocks/sjp-paging-and-filter.json
  src/test/end-to-end/tests/sjp-cases-filter-and-paging-test.ts
  src/test/end-to-end/tests/verified/sjp-list-download-test.ts
  src/test/routes/style-guide/single-justice-procedure-press.test.ts
  src/test/routes/style-guide/single-justice-procedure-public.test.ts
  src/test/unit/controllers/style-guide/SjpPressListController.test.ts
  src/test/unit/controllers/style-guide/SjpPublicListController.test.ts
  src/test/unit/mocks/sjp/extendedSjpPressList.json
  src/test/unit/mocks/sjp/minimalSjpPressList.json
  src/test/unit/mocks/sjp/minimalSjpPublicList.json
  src/test/unit/models/SjpModel.test.ts
  src/test/unit/service/SjpFilterService.test.ts
  src/test/unit/service/listManipulation/SjpPressListService.test.ts
  src/test/unit/service/listManipulation/SjpPublicListService.test.ts
  src/test/unit/views/home.test.ts
  src/test/unit/views/style-guide/single-justice-procedure-press.test.ts
  src/test/unit/views/style-guide/single-justice-procedure-public.test.ts
  src/test/unit/views/system-admin/blob-view-json.test.ts
Due: eslint, prettier, stylelint

format home test
  src/test/unit/views/home.test.ts
Due: eslint, prettier

fix e2e test
  src/test/end-to-end/tests/sjp-cases-filter-and-paging-test.ts
Due: eslint, prettier

PUB-2520 Use SJP delta URL when applying filters (#1308)
  src/main/controllers/style-guide/SjpPressListController.ts
  src/main/controllers/style-guide/SjpPublicListController.ts
  src/main/helpers/listHelper.ts
  src/main/views/style-guide/single-justice-procedure-press.njk
  src/main/views/style-guide/single-justice-procedure.njk
  src/test/routes/style-guide/single-justice-procedure-press.test.ts
  src/test/routes/style-guide/single-justice-procedure-public.test.ts
  src/test/unit/controllers/style-guide/SjpPressListController.test.ts
  src/test/unit/controllers/style-guide/SjpPublicListController.test.ts
  src/test/unit/helpers/listHelper.test.ts
Due: eslint, prettier

fix code review comments
  src/main/views/macros/sjp-common.njk
Due: none

PUB-2489-b - Update dependencies (#1305)
  .github/workflows/on-pr.yml
  .lefthook/pre-push/check-for-unsuppressed-vulns.py
  .nvmrc
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.8.2.cjs
  .yarn/releases/yarn-3.8.3.cjs
  .yarnrc.yml
  charts/pip-frontend/Chart.yaml
  package.json
  yarn-audit-known-issues
  yarn.lock
Due: none

PUB-2523 - Fixed creating audit log when multiple artefacts selected
  src/main/controllers/admin/RemoveListConfirmationController.ts
  src/main/service/RemoveListHelperService.ts
  src/test/unit/controllers/admin/RemoveListConfirmationController.test.ts
  src/test/unit/service/RemoveListHelperService.test.ts
Due: eslint, prettier

PUB-2523 - Fixed linting
  src/main/service/RemoveListHelperService.ts
  src/test/unit/service/RemoveListHelperService.test.ts
Due: eslint, prettier

PUB-2523 - Updated flow to not stop when one publication fails
  src/main/service/RemoveListHelperService.ts
  src/test/unit/service/RemoveListHelperService.test.ts
Due: eslint, prettier

Updated linting
  src/main/service/RemoveListHelperService.ts
Due: eslint, prettier

PUB-2523 - Updated yarn lock
  yarn.lock
Due: none

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx, md, yaml, yml, mdx, json}
  stylelint: any of: **/*.scss
