Repository hmcts/pip-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-push:
    scripts:
        'check-for-unsuppressed-vulns.py':
            runner: python3
        commands:
            audit:
                run: yarn audit | cat
pre-commit:
    parallel: true
    commands:
        eslint:
            glob: '*.{js,ts,jsx,tsx}'
            run: yarn eslint --fix {staged_files}
        prettier:
            glob: '*.{js,ts,jsx,tsx, md, yaml, yml, mdx, json}'
            run: yarn prettier --write {staged_files}
        stylelint:
            glob: '**/*.scss'
            run: yarn stylelint {staged_files}

PUB-2285 - Added middlename
  src/main/service/listManipulation/CrimeListsService.ts
  src/test/unit/mocks/crimeListParty.json
  src/test/unit/service/listManipulation/CrimeListsService.test.ts
  src/test/unit/service/listManipulation/MagistratesStandardListService.test.ts
  src/test/unit/views/style-guide/magistrates-standard-list.test.ts
Due: eslint, prettier

PUB-2285 - Linting
  src/main/service/listManipulation/CrimeListsService.ts
  src/test/unit/service/listManipulation/CrimeListsService.test.ts
Due: eslint, prettier

PUB-2285 - Updated tests
  src/main/views/style-guide/magistrates-standard-list.njk
  src/test/unit/mocks/magistratesStandardList.json
  src/test/unit/service/listManipulation/MagistratesStandardListService.test.ts
  src/test/unit/views/style-guide/magistrates-standard-list.test.ts
Due: eslint, prettier

PUB-2285 - Linting
  src/test/unit/views/style-guide/magistrates-standard-list.test.ts
Due: eslint, prettier

PUB-2285 - Fixed issue with multiple sittings
  src/main/service/listManipulation/MagistratesStandardListService.ts
  src/test/unit/service/listManipulation/MagistratesStandardListService.test.ts
Due: eslint, prettier

PUB-2285 - Updated sittings
  src/main/service/listManipulation/MagistratesStandardListService.ts
  src/test/unit/service/listManipulation/MagistratesStandardListService.test.ts
Due: eslint, prettier

PUB-2285 - Further refactoring
  src/main/service/listManipulation/MagistratesStandardListService.ts
  src/main/views/style-guide/magistrates-standard-list.njk
  src/test/unit/mocks/magistratesStandardList.json
  src/test/unit/service/listManipulation/MagistratesStandardListService.test.ts
  src/test/unit/views/style-guide/magistrates-standard-list.test.ts
Due: eslint, prettier

PUB-2285 - Linting
  src/main/service/listManipulation/MagistratesStandardListService.ts
  src/test/unit/service/listManipulation/MagistratesStandardListService.test.ts
Due: eslint, prettier

PUB-3143 - PDDA Changes (#1620)
  src/main/modules/nunjucks/njkFilters.ts
  src/main/service/listManipulation/CrownPddaListService.ts
  src/test/unit/mocks/crownDailyPddaList.json
  src/test/unit/mocks/crownFirmPddaList.json
  src/test/unit/mocks/crownWarnedPddaList.json
  src/test/unit/modules/nunjucks/njkFilters.test.ts
  src/test/unit/service/listManipulation/CrownPddaListService.test.ts
Due: eslint, prettier

Remove PDDA from Crown list names
  src/main/resources/listLookup.json
  src/main/routes/routes.ts
  src/test/a11y/tests/style-guide/crown-pdda-list.test.ts
  src/test/a11y/tests/style-guide/crown-warned-pdda-list.test.ts
  src/test/routes/style-guide/crown-pdda-list.test.ts
  src/test/routes/style-guide/crown-warned-pdda-list.test.ts
  src/test/unit/controllers/style-guide/CrownPddaListController.test.ts
  src/test/unit/service/listManipulation/CrownPddaListService.test.ts
  src/test/unit/views/style-guide/crown-daily-pdda-list.test.ts
  src/test/unit/views/style-guide/crown-firm-pdda-list.test.ts
  src/test/unit/views/style-guide/crown-warned-pdda-list.test.ts
Due: eslint, prettier

Fixed failing unit tests
  src/test/unit/controllers/style-guide/CrownPddaListController.test.ts
  yarn-audit-known-issues
Due: eslint, prettier

Update Crown list names for e2e tests
  src/test/end-to-end/tests/admin/manual-upload-sensitivity-test.ts
Due: eslint, prettier

Update security vulnerability
  yarn-audit-known-issues
Due: none

Update e2e test to remove PDDA
  src/test/end-to-end/tests/admin/manual-upload-sensitivity-test.ts
Due: eslint, prettier

SSCS hearing list update
  src/main/assets/scss/main.scss
  src/main/resources/locales/cy/sscs-daily-hearing-list.json
  src/main/resources/locales/en/sscs-daily-hearing-list.json
  src/main/views/style-guide/sscs-daily-hearing-list.njk
  src/test/unit/mocks/sscsDailyHearingList.json
  src/test/unit/views/style-guide/sscs-daily-hearing-list.test.ts
Due: eslint, prettier, stylelint

Suppress security vuln and update unit test expected result
  src/test/unit/views/style-guide/sscs-daily-hearing-list.test.ts
  yarn-audit-known-issues
Due: eslint, prettier

PUB-2110 - Retain filter selection when switching between English and Welsh (#1610)
  src/main/resources/welshRegionLookup.json
  src/main/service/FilterService.ts
  src/test/unit/service/FilterService.test.ts
  yarn-audit-known-issues
Due: eslint, prettier

PUB-2285 - Updated date format
  src/main/service/listManipulation/MagistratesStandardListService.ts
  src/test/unit/mocks/magistratesStandardList.json
Due: eslint, prettier

PUB-2285 - Updated suppressions
  yarn-audit-known-issues
  yarn.lock
Due: none

Move MagsPublicList data manipulation into its own service as it now deviates a lot from CrownDailyList
  src/main/service/listManipulation/CrimeListsService.ts
  src/main/service/listManipulation/MagistratesPublicListService.ts
Due: eslint, prettier

Move MagsPublicList data manipulation into its own service as it now deviates a lot from CrownDailyList
  src/main/service/listManipulation/MagistratesPublicListService.ts
Due: eslint, prettier

Update service tests
  src/test/unit/service/listManipulation/MagistratesPublicListService.test.ts
Due: eslint, prettier

Update service tests
  src/test/unit/service/listManipulation/CrimeListsService.test.ts
  src/test/unit/service/listManipulation/MagistratesPublicListService.test.ts
Due: eslint, prettier

Update service tests
  src/test/unit/service/listManipulation/CrimeListsService.test.ts
Due: eslint, prettier

Update MagsPublicList controller to call new service
  src/main/controllers/style-guide/MagistratesPublicListController.ts
Due: eslint, prettier

Update controller tests
  src/test/unit/controllers/style-guide/MagistratesPublicListController.test.ts
Due: eslint, prettier

Update mock json file
  src/test/unit/mocks/magistratesPublicList.json
Due: none

Update style guide
  src/main/views/style-guide/magistrates-public-list.njk
Due: none

Update style guide tests
  src/test/unit/views/style-guide/magistrates-public-list.test.ts
Due: eslint, prettier

Remove unused block causing script error
  src/main/views/subscription-management.njk
Due: none

Fix script error in subscription process pages
  src/main/views/bulk-unsubscribe.njk
  src/main/views/subscription-add-list.njk
  src/main/views/subscription-configure-list.njk
  src/main/views/subscription-management.njk
Due: none

revert changes which were part of other ticket
  src/main/views/bulk-unsubscribe.njk
  src/main/views/subscription-management.njk
Due: none

fix build
  yarn-audit-known-issues
Due: none

Updated suppressions
  yarn-audit-known-issues
Due: none

Updated suppressions (#1628)
  yarn-audit-known-issues
Due: none

Fix bug preventing display of noSubsCase and noSubsCourt messages
  src/main/views/subscription-management.njk
Due: none

Fix both bugs also present in bulk-unsubscribe page
  src/main/views/bulk-unsubscribe.njk
Due: none

Fix bug in subscription management test that was causing only the first test block in the file to be run
  src/test/unit/views/subscription-management.test.ts
Due: eslint, prettier
