Repository hmcts/pip-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint

eslint:
  run: yarn eslint --fix {staged_files}

prettier:
  run: yarn prettier --write {staged_files}

stylelint:
  run: yarn stylelint {staged_files}

Fix filter and location id
  src/main/controllers/SummaryOfPublicationsController.ts
  src/main/service/FilterService.ts
  src/test/unit/controllers/SummaryOfPublicationsController.test.ts
  src/test/unit/service/FilterService.test.ts
  src/test/unit/views/alphabetical-search.test.ts
  src/test/unit/views/location-name-search.test.ts
Due: eslint, prettier

updated test
  src/test/unit/service/PublicationService.test.ts
Due: eslint, prettier

Fix after merge
  src/main/controllers/SummaryOfPublicationsController.ts
  src/main/resources/listLookup.json
  src/test/unit/controllers/SummaryOfPublicationsController.test.ts
Due: eslint, prettier

fix sonar
  src/main/controllers/SummaryOfPublicationsController.ts
Due: eslint, prettier

Update blob explorer to download raw JSON file
  src/main/assets/scss/main.scss
  src/main/controllers/system-admin/BlobViewPublicationController.ts
  src/main/resources/locales/cy/blob-view-publication.json
  src/main/resources/locales/en/blob-view-publication.json
  src/main/resources/requests/PublicationRequests.ts
  src/main/routes/routes.ts
  src/main/service/PublicationService.ts
  src/main/views/system-admin/blob-view-publication.njk
  src/test/end-to-end/tests/system-admin/blob-explorer-test.ts
  src/test/unit/controllers/system-admin/BlobViewPublicationController.test.ts
  src/test/unit/requests/publicationRequests.test.ts
  src/test/unit/service/PublicationService.test.ts
  src/test/unit/views/system-admin/blob-view-publication.test.ts
Due: eslint, prettier, stylelint

Fix failing unit test
  src/main/controllers/system-admin/BlobViewPublicationController.ts
  src/test/unit/controllers/system-admin/BlobViewPublicationController.test.ts
  src/test/unit/requests/publicationRequests.test.ts
  yarn-audit-known-issues
Due: eslint, prettier

Fixed e2e test
  src/test/end-to-end/tests/system-admin/blob-explorer-test.ts
Due: eslint, prettier

fix tests
  src/main/controllers/SummaryOfPublicationsController.ts
  src/test/unit/controllers/SummaryOfPublicationsController.test.ts
  src/test/unit/service/SubscriptionService.test.ts
Due: eslint, prettier

Update suppressions
  yarn-audit-known-issues
Due: none

Update known issues
  src/test/unit/service/SubscriptionService.test.ts
  yarn-audit-known-issues
Due: eslint, prettier

fix build
  yarn-audit-known-issues
Due: none

[PUB-3320] Civil Daily Cause List hearing platform not displayed correctly in the style guide (#1729)
  src/main/views/style-guide/daily-cause-list.njk
  yarn-audit-known-issues
Due: none

merging master
  src/main/controllers/style-guide/CrownAdvancePddaListController.ts
  src/main/controllers/style-guide/CrownPddaListController.ts
  src/main/service/listManipulation/CrownPddaListService.ts
  src/test/unit/service/PublicationService.test.ts
Due: eslint, prettier

Fix tests
  src/test/end-to-end/tests/verified/email-subscriptions-test.ts
  src/test/unit/service/SubscriptionService.test.ts
Due: eslint, prettier

handling 404 without error response
  src/main/resources/requests/LocationRequests.ts
Due: eslint, prettier

handling tests
  src/main/resources/requests/LocationRequests.ts
Due: eslint, prettier

update e2e tests for cft idam changes
  src/test/end-to-end/tests/custom-steps.ts
  src/test/end-to-end/tests/login-test.ts
Due: eslint, prettier

upgrade chart-nodejs to fix aks deploy step
  charts/pip-frontend/Chart.yaml
Due: none

Bumping chart version/ fixing aliases
  charts/pip-frontend/Chart.yaml
Due: none

amended lookup
  src/main/resources/listLookup.json
Due: none

update e2e smart survey link
  src/test/end-to-end/tests/custom-steps.ts
Due: eslint, prettier

PUB-3285 - Update cft idam e2e tests (#1742)
  charts/pip-frontend/Chart.yaml
  src/test/end-to-end/tests/custom-steps.ts
  src/test/end-to-end/tests/login-test.ts
Due: eslint, prettier

amended test
  src/test/unit/views/subscription-configure-list.test.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx, md, yaml, yml, mdx, json}
  stylelint: any of: **/*.scss
