Repository hmcts/pip-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-push:
    scripts:
        'check-for-unsuppressed-vulns.py':
            runner: python3
        commands:
            audit:
                run: yarn audit | cat
pre-commit:
    parallel: true
    commands:
        eslint:
            glob: '*.{js,ts,jsx,tsx}'
            run: yarn eslint --fix {staged_files}
        prettier:
            glob: '*.{js,ts,jsx,tsx, md, yaml, yml, mdx, json}'
            run: yarn prettier --write {staged_files}
        stylelint:
            glob: '**/*.scss'
            run: yarn stylelint {staged_files}

Update tests
  src/test/unit/views/bulk-unsubscribe.test.ts
Due: eslint, prettier

PUB-2285 - Updated Magistrates Standard List (#1621)
  src/main/controllers/style-guide/MagistratesStandardListController.ts
  src/main/resources/locales/cy/magistrates-standard-list.json
  src/main/resources/locales/en/magistrates-standard-list.json
  src/main/service/ListParseHelperService.ts
  src/main/service/listManipulation/CrimeListsService.ts
  src/main/service/listManipulation/MagistratesStandardListService.ts
  src/main/views/style-guide/magistrates-standard-list.njk
  src/test/unit/controllers/style-guide/MagistratesStandardListController.test.ts
  src/test/unit/mocks/crimeListParty.json
  src/test/unit/mocks/magistratesStandardList.json
  src/test/unit/service/ListParseHelperService.test.ts
  src/test/unit/service/listManipulation/CrimeListsService.test.ts
  src/test/unit/service/listManipulation/MagistratesStandardListService.test.ts
  src/test/unit/views/style-guide/magistrates-standard-list.test.ts
  yarn-audit-known-issues
  yarn.lock
Due: eslint, prettier

PUB-2777 - Mags Public List (#1619)
  src/main/controllers/style-guide/MagistratesPublicListController.ts
  src/main/resources/locales/cy/magistrates-public-list.json
  src/main/resources/locales/en/magistrates-public-list.json
  src/main/service/listManipulation/CrimeListsService.ts
  src/main/service/listManipulation/MagistratesPublicListService.ts
  src/main/views/style-guide/magistrates-public-list.njk
  src/test/unit/controllers/style-guide/MagistratesPublicListController.test.ts
  src/test/unit/mocks/crimeListParty.json
  src/test/unit/mocks/magistratesPublicList.json
  src/test/unit/service/listManipulation/MagistratesPublicListService.test.ts
  src/test/unit/views/style-guide/magistrates-public-list.test.ts
Due: eslint, prettier

fix build
  yarn-audit-known-issues
Due: none

fix keyvault name
  charts/pip-frontend/values.dev.template.yaml
  charts/pip-frontend/values.stg.template.yaml
  charts/pip-frontend/values.yaml
  src/main/service/KeyVaultService.ts
Due: eslint, prettier

Bumping chart version/ fixing aliases
  charts/pip-frontend/Chart.yaml
Due: none

PUB-3105 Fix script error in subscription process pages (#1626)
  src/main/views/subscription-add-list.njk
  src/main/views/subscription-configure-list.njk
Due: none

Fix failing unit tests
  src/test/unit/views/system-admin/manage-third-party-users-subscriptions.test.ts
Due: eslint, prettier

Update yarn.lock
  jest.config.js
  yarn.lock
Due: eslint, prettier

Fixed failing route tests
  src/test/routes/system-admin/manage-third-party-users-subscription.test.ts
Due: eslint, prettier

PUB-3098 Add manage third-party subscription frontend screens (#1613)
  src/main/bundles/cookie-preferences.ts
  src/main/controllers/system-admin/ManageThirdPartySubscriptionsController.ts
  src/main/controllers/system-admin/ManageThirdPartySubscriptionsCreatedSuccessController.ts
  src/main/controllers/system-admin/ManageThirdPartySubscriptionsSummaryController.ts
  src/main/controllers/system-admin/ManageThirdPartySubscriptionsUpdatedSuccessController.ts
  src/main/models/ThirdPartySubscription.ts
  src/main/resources/locales/cy/manage-third-party-subscriptions-created-success.json
  src/main/resources/locales/cy/manage-third-party-subscriptions-summary.json
  src/main/resources/locales/cy/manage-third-party-subscriptions-updated-success.json
  src/main/resources/locales/cy/manage-third-party-subscriptions.json
  src/main/resources/locales/en/manage-third-party-subscriptions-created-success.json
  src/main/resources/locales/en/manage-third-party-subscriptions-summary.json
  src/main/resources/locales/en/manage-third-party-subscriptions-updated-success.json
  src/main/resources/locales/en/manage-third-party-subscriptions.json
  src/main/resources/requests/ThirdPartyRequests.ts
  src/main/routes/routes.ts
  src/main/service/ThirdPartyService.ts
  src/main/views/system-admin/manage-third-party-subscribers-view.njk
  src/main/views/system-admin/manage-third-party-subscriptions-created-success.njk
  src/main/views/system-admin/manage-third-party-subscriptions-summary.njk
  src/main/views/system-admin/manage-third-party-subscriptions-updated-success.njk
  src/main/views/system-admin/manage-third-party-subscriptions.njk
  src/test/a11y/common/testData.ts
  src/test/a11y/tests/system-admin-routes.test.ts
  src/test/routes/system-admin/manage-third-party-subscriptions-created-success.test.ts
  src/test/routes/system-admin/manage-third-party-subscriptions-summary.test.ts
  src/test/routes/system-admin/manage-third-party-subscriptions-updated-success.test.ts
  src/test/routes/system-admin/manage-third-party-subscriptions.test.ts
  src/test/unit/controllers/system-admin/ManageThirdPartySubscriptionsController.test.ts
  src/test/unit/controllers/system-admin/ManageThirdPartySubscriptionsCreatedSuccessController.test.ts
  src/test/unit/controllers/system-admin/ManageThirdPartySubscriptionsSummaryController.test.ts
  src/test/unit/controllers/system-admin/ManageThirdPartySubscriptionsUpdatedSuccessController.test.ts
  src/test/unit/requests/thirdPartyRequests.test.ts
  src/test/unit/service/ThirdPartyService.test.ts
  src/test/unit/views/system-admin/manage-third-party-subscriptions-created-success.test.ts
  src/test/unit/views/system-admin/manage-third-party-subscriptions-summary.test.ts
  src/test/unit/views/system-admin/manage-third-party-subscriptions-updated-success.test.ts
  src/test/unit/views/system-admin/manage-third-party-subscriptions.test.ts
Due: eslint, prettier

PUB-3149 SSCS hearing list update (#1623)
  src/main/assets/scss/main.scss
  src/main/resources/locales/cy/sscs-daily-hearing-list.json
  src/main/resources/locales/en/sscs-daily-hearing-list.json
  src/main/views/style-guide/sscs-daily-hearing-list.njk
  src/test/unit/mocks/sscsDailyHearingList.json
  src/test/unit/views/style-guide/sscs-daily-hearing-list.test.ts
Due: eslint, prettier, stylelint

Merge
  src/main/bundles/cookie-preferences.ts
  src/test/unit/views/style-guide/sscs-daily-hearing-list.test.ts
Due: eslint, prettier

third party e2e tests wip
  src/test/end-to-end/tests/system-admin/legacy-manage-third-party-users-test.ts
  src/test/end-to-end/tests/system-admin/manage-third-party-subscribers.ts
Due: eslint, prettier

Fix failing route tests
  jest.routes.config.js
Due: eslint, prettier

PUB-3166 - Fix App Insights
  src/main/app.ts
  src/main/server.ts
Due: eslint, prettier

PUB-3134-Updated-Info-Provider
  package.json
  src/main/controllers/ViewOptionController.ts
  src/main/controllers/admin/ManualUploadController.ts
  src/main/controllers/system-admin/BulkCreateMediaAccountsConfirmationController.ts
  src/main/controllers/system-admin/BulkCreateMediaAccountsController.ts
  src/main/controllers/system-admin/CreateThirdPartyUserController.ts
  src/main/controllers/system-admin/LocationMetadataDeleteConfirmationController.ts
  src/main/controllers/system-admin/LocationMetadataManageController.ts
  src/main/controllers/system-admin/LocationMetadataSearchController.ts
  src/main/controllers/system-admin/ReferenceDataUploadController.ts
  src/main/service/AuditLogService.ts
  src/main/service/FilterService.ts
  src/test/routes/admin/manual-upload.test.ts
  src/test/routes/system-admin/bulk-create-media-accounts.test.ts
  src/test/routes/system-admin/reference-data-upload.test.ts
  src/test/unit/controllers/admin/ManualUploadController.test.ts
  src/test/unit/controllers/system-admin/BulkCreateMediaAccountsController.test.ts
  src/test/unit/controllers/system-admin/ReferenceDataUploadController.test.ts
  src/test/unit/service/AuditLogService.test.ts
  src/test/unit/service/FilterService.test.ts
  src/test/unit/views/system-admin/bulk-create-media-accounts.test.ts
  src/test/unit/views/system-admin/create-third-party-user.test.ts
  yarn.lock
Due: eslint, prettier

PUB-3134 - Linting
  src/main/service/AuditLogService.ts
  src/test/routes/admin/manual-upload.test.ts
  src/test/routes/system-admin/bulk-create-media-accounts.test.ts
  src/test/routes/system-admin/reference-data-upload.test.ts
  src/test/unit/controllers/admin/ManualUploadController.test.ts
  src/test/unit/views/system-admin/create-third-party-user.test.ts
Due: eslint, prettier

PUB-3134 - Updated dependencies and yarn audit known issues
  yarn-audit-known-issues
  yarn.lock
Due: none

PUB-3104 - Script error when navigating to Subscription Management (#1625)
  src/main/views/bulk-unsubscribe.njk
  src/main/views/subscription-management.njk
  src/test/unit/views/bulk-unsubscribe.test.ts
  src/test/unit/views/subscription-management.test.ts
Due: eslint, prettier

PUB-3134 - Fixed versions
  package.json
  yarn.lock
Due: none

PUB-3146 - Updated dynatrace
  README.md
  src/main/bundles/cookie-preferences.ts
  src/main/modules/nunjucks/index.ts
  src/main/views/template.njk
Due: eslint, prettier

PUB-3146 - Linting
  src/main/modules/nunjucks/index.ts
Due: eslint, prettier

PUB-3146 - Updated dependencies
  yarn-audit-known-issues
  yarn.lock
Due: none

add security.md file
  SECURITY.md
Due: none

PUB-3134 - Updated linting
  src/main/controllers/CreateMediaAccountController.ts
  src/main/controllers/SearchController.ts
  src/main/controllers/system-admin/DeleteCourtReferenceDataConfirmationController.ts
  src/main/controllers/system-admin/ManageThirdPartyUsersSubscriptionsController.ts
  src/test/routes/alphabetical-search.ts
  src/test/routes/case-name-search.test.ts
  src/test/routes/create-media-account.test.ts
  src/test/routes/list-download-disclaimer.test.ts
  src/test/routes/search.test.ts
  src/test/routes/sign-in.test.ts
  src/test/routes/subscription-add-list-language.test.ts
  src/test/routes/subscription-add-list.test.ts
  src/test/routes/subscription-add.test.ts
  src/test/routes/subscription-configure-list.test.ts
  src/test/routes/view-option.test.ts
  src/test/unit/controllers/CaseNameSearchController.test.ts
  src/test/unit/controllers/ListDownloadDisclaimerController.test.ts
  src/test/unit/controllers/SearchController.test.ts
  src/test/unit/controllers/SubscriptionAddController.test.ts
  src/test/unit/controllers/admin/MediaAccountRejectionReasonsController.test.ts
  src/test/unit/controllers/system-admin/BulkCreateMediaAccountsConfirmationController.test.ts
  src/test/unit/controllers/system-admin/CreateThirdPartyUserController.test.ts
  src/test/unit/controllers/system-admin/DeleteThirdPartyUserConfirmationController.test.ts
  src/test/unit/service/UserManagementService.test.ts
Due: eslint, prettier

PUB-3134 - Updated routes tests
  src/main/controllers/admin/MediaAccountRejectionController.ts
  src/main/routes/routes.ts
  src/test/routes/admin/media-account-rejection-reasons.test.ts
  src/test/routes/admin/media-account-rejection.test.ts
  src/test/routes/admin/remove-list-search.test.ts
  src/test/routes/alphabetical-search.ts
  src/test/routes/bulk-unsubscribe-confirmation.test.ts
  src/test/routes/case-name-search-results.test.ts
  src/test/routes/case-name-search.test.ts
  src/test/routes/case-reference-number-search-results.test.ts
  src/test/routes/create-media-account.test.ts
  src/test/routes/list-download-disclaimer.test.ts
  src/test/routes/search.test.ts
  src/test/routes/sign-in.test.ts
  src/test/routes/subscription-add-list-language.test.ts
  src/test/routes/subscription-add-list.test.ts
  src/test/routes/subscription-add.test.ts
  src/test/routes/subscription-configure-list-language.test.ts
  src/test/routes/subscription-configure-list-preview.test.ts
  src/test/routes/subscription-configure-list.test.ts
  src/test/routes/system-admin/bulk-create-media-accounts-confirmation.test.ts
  src/test/routes/system-admin/bulk-create-media-accounts.test.ts
  src/test/routes/system-admin/create-third-party-user.test.ts
  src/test/routes/system-admin/delete-court-reference-data-confirmation.test.ts
  src/test/routes/system-admin/delete-court-reference-data.test.ts
  src/test/routes/system-admin/delete-court-subscription-confirmation.test.ts
  src/test/routes/system-admin/delete-third-party-user-confirmation.test.ts
  src/test/routes/system-admin/location-metadata-delete-confirmation.test.ts
  src/test/routes/system-admin/location-metadata-search.test.ts
  src/test/routes/system-admin/manage-third-party-users-subscription.test.ts
  src/test/routes/system-admin/reference-data-upload.test.ts
  src/test/routes/view-option.test.ts
  src/test/unit/controllers/admin/MediaAccountRejectionController.test.ts
  src/test/unit/controllers/admin/MediaAccountRejectionReasonsController.test.ts
  yarn-audit-known-issues
  yarn.lock
Due: eslint, prettier

PUB-3134 - Linting
  src/test/routes/admin/media-account-rejection-reasons.test.ts
  src/test/routes/admin/media-account-rejection.test.ts
  src/test/routes/bulk-unsubscribe-confirmation.test.ts
  src/test/routes/system-admin/create-third-party-user.test.ts
  src/test/unit/controllers/admin/MediaAccountRejectionReasonsController.test.ts
Due: eslint, prettier

fix styling
  src/test/unit/views/style-guide/sscs-daily-hearing-list.test.ts
Due: eslint, prettier

Add functionality to test third-party connection
  src/main/assets/scss/main.scss
  src/main/controllers/system-admin/ManageThirdPartySubscribersViewController.ts
  src/main/resources/locales/cy/manage-third-party-subscribers-view.json
  src/main/resources/locales/en/manage-third-party-subscribers-view.json
  src/main/resources/requests/ThirdPartyRequests.ts
  src/main/routes/routes.ts
  src/main/service/ThirdPartyService.ts
  src/main/views/system-admin/manage-third-party-subscribers-view.njk
  src/test/routes/system-admin/manage-third-party-subscribers-view.test.ts
  src/test/unit/controllers/system-admin/ManageThirdPartySubscribersViewController.test.ts
  src/test/unit/requests/thirdPartyRequests.test.ts
  src/test/unit/service/ThirdPartyService.test.ts
  src/test/unit/views/system-admin/manage-third-party-subscribes-view.test.ts
Due: eslint, prettier, stylelint

Lint fixes
  src/main/controllers/system-admin/ManageThirdPartySubscribersViewController.ts
  src/test/unit/controllers/system-admin/ManageThirdPartySubscribersViewController.test.ts
  src/test/unit/requests/thirdPartyRequests.test.ts
  src/test/unit/service/ThirdPartyService.test.ts
Due: eslint, prettier

fix unit test
  src/test/unit/controllers/SummaryOfPublicationsController.test.ts
Due: eslint, prettier

PUB-3148 Remove PDDA from Crown list names (#1622)
  src/main/resources/listLookup.json
  src/main/routes/routes.ts
  src/test/a11y/tests/style-guide/crown-pdda-list.test.ts
  src/test/a11y/tests/style-guide/crown-warned-pdda-list.test.ts
  src/test/end-to-end/tests/admin/manual-upload-sensitivity-test.ts
  src/test/routes/style-guide/crown-pdda-list.test.ts
  src/test/routes/style-guide/crown-warned-pdda-list.test.ts
  src/test/unit/controllers/SummaryOfPublicationsController.test.ts
  src/test/unit/service/listManipulation/CrownPddaListService.test.ts
  src/test/unit/views/style-guide/crown-daily-pdda-list.test.ts
  src/test/unit/views/style-guide/crown-firm-pdda-list.test.ts
  src/test/unit/views/style-guide/crown-warned-pdda-list.test.ts
  src/test/unit/views/style-guide/sscs-daily-hearing-list.test.ts
  yarn-audit-known-issues
Due: eslint, prettier

implement third party status functionality
  src/main/controllers/system-admin/ManageThirdPartySubscriberStatusController.ts
  src/main/controllers/system-admin/ManageThirdPartySubscriberStatusSuccessController.ts
  src/main/resources/locales/cy/manage-third-party-subscriber-status-success.json
  src/main/resources/locales/cy/manage-third-party-subscriber-status.json
  src/main/resources/locales/cy/manage-third-party-subscribers-view.json
  src/main/resources/locales/en/manage-third-party-subscriber-status-success.json
  src/main/resources/locales/en/manage-third-party-subscriber-status.json
  src/main/resources/locales/en/manage-third-party-subscribers-view.json
  src/main/resources/requests/ThirdPartyRequests.ts
  src/main/routes/routes.ts
  src/main/service/ThirdPartyService.ts
  src/main/views/system-admin/manage-third-party-subscriber-status-success.njk
  src/main/views/system-admin/manage-third-party-subscriber-status.njk
  src/main/views/system-admin/manage-third-party-subscribers-view.njk
  src/test/routes/system-admin/manage-third-party-subscriber-status-success.test.ts
  src/test/routes/system-admin/manage-third-party-subscriber-status.test.ts
  src/test/unit/controllers/system-admin/ManageThirdPartySubscriberStatusController.test.ts
  src/test/unit/controllers/system-admin/ManageThirdPartySubscriberStatusSuccessController.test.ts
  src/test/unit/requests/thirdPartyRequests.test.ts
  src/test/unit/service/ThirdPartyService.test.ts
  src/test/unit/views/system-admin/manage-third-party-subscriber-status-success.test.ts
  src/test/unit/views/system-admin/manage-third-party-subscriber-status.test.ts
  src/test/unit/views/system-admin/manage-third-party-subscribes-view.test.ts
Due: eslint, prettier

PUB-3134 - Updated controller
  src/main/controllers/admin/ManualUploadController.ts
  src/main/controllers/admin/MediaAccountRejectionController.ts
  src/main/controllers/system-admin/ReferenceDataUploadController.ts
Due: eslint, prettier

Added new end-to-end functional test for third-party-user functionality. Added 2 new methods to testingSupportApi to third-party test data setup and teardown.
  src/test/end-to-end/shared/helpers/testingSupportApiHelper.ts
  src/test/end-to-end/shared/testingSupportApi.ts
  src/test/end-to-end/tests/system-admin/manage-third-party-subscribers.ts
Due: eslint, prettier

update tests and status values
  src/main/controllers/system-admin/ManageThirdPartySubscriberStatusController.ts
  src/main/views/system-admin/manage-third-party-subscriber-status.njk
  src/main/views/system-admin/manage-third-party-subscribers-view.njk
  src/test/a11y/tests/system-admin-routes.test.ts
  src/test/routes/system-admin/manage-third-party-subscribers-view.test.ts
  src/test/unit/controllers/system-admin/ManageThirdPartySubscriberStatusController.test.ts
  src/test/unit/views/system-admin/manage-third-party-subscriber-status.test.ts
Due: eslint, prettier
