Repository hmcts/pip-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint

eslint:
  run: yarn eslint --fix {staged_files}

prettier:
  run: yarn prettier --write {staged_files}

stylelint:
  run: yarn stylelint {staged_files}

Fix session cookie same site for SSO sign-in
  src/main/authentication/authentication-config.json
  src/main/authentication/authentication.ts
  src/main/authentication/ssoAuthentication.ts
  src/main/routes/routes.ts
Due: eslint, prettier

Fixed failing route test
  src/test/routes/login.test.ts
Due: eslint, prettier

Update suppressions
  yarn-audit-known-issues
Due: none

PUB-2617 - Updated known issues
  yarn-audit-known-issues
Due: none

PUB-2364 SSO fix session cookie same site issue (#1381)
  src/main/authentication/authentication-config.json
  src/main/authentication/authentication.ts
  src/main/authentication/ssoAuthentication.ts
  src/main/routes/routes.ts
  src/test/routes/login.test.ts
  yarn-audit-known-issues
Due: eslint, prettier

PUB-2617 - Fixing session issue (#1365)
  README.md
  charts/pip-frontend/Chart.yaml
  config/default.json
  jestEnvVars.js
  src/main/app.ts
  yarn-audit-known-issues
Due: eslint, prettier

PUB-2650 - Monthly Dependencies
  .yarn/releases/yarn-4.5.0.cjs
  .yarn/releases/yarn-4.5.1.cjs
  .yarnrc.yml
  package.json
  src/main/assets/scss/main.scss
  yarn-audit-known-issues
  yarn.lock
Due: stylelint

PUB-2650 - Monthly Dependencies (#1382)
  .yarn/releases/yarn-4.5.0.cjs
  .yarn/releases/yarn-4.5.1.cjs
  .yarnrc.yml
  package.json
  src/main/assets/scss/main.scss
  yarn.lock
Due: stylelint

Add Preview Functionality for List Type Subscription
  src/main/controllers/SubscriptionAddListLanguageController.ts
  src/main/controllers/SubscriptionConfigureListLanguageController.ts
  src/main/controllers/SubscriptionConfigureListPreviewController.ts
  src/main/controllers/SubscriptionConfirmationPreviewController.ts
  src/main/helpers/sortHelper.ts
  src/main/resources/locales/cy/subscription-configure-list-preview.json
  src/main/resources/locales/cy/subscription-confirmation-preview.json
  src/main/resources/locales/en/subscription-configure-list-preview.json
  src/main/resources/locales/en/subscription-confirmation-preview.json
  src/main/routes/routes.ts
  src/main/service/PendingSubscriptionsFromCache.ts
  src/main/service/SubscriptionService.ts
  src/main/views/subscription-configure-list-preview.njk
  src/main/views/subscription-confirmation-preview.njk
  src/test/routes/subscription-add-list-language.test.ts
  src/test/routes/subscription-configure-list-language.test.ts
  src/test/routes/subscription-configure-list-preview.test.ts
  src/test/routes/subscription-confirmation-preview.test.ts
  src/test/unit/controllers/SubscriptionAddListLanguageController.test.ts
  src/test/unit/controllers/SubscriptionConfigureListLanguageController.test.ts
  src/test/unit/controllers/SubscriptionConfigureListPreviewController.test.ts
  src/test/unit/controllers/SubscriptionConfirmationPreviewController.test.ts
  src/test/unit/helpers/sortHelper.test.ts
  src/test/unit/requests/utils/pendingSubscriptionsFromCache.test.ts
  src/test/unit/service/SubscriptionService.test.ts
  src/test/unit/views/subscription-configure-list-language.test.ts
  src/test/unit/views/subscription-configure-list-preview.test.ts
  src/test/unit/views/subscription-confirmation-preview.test.ts
Due: eslint, prettier

fix styling issue
  src/main/controllers/SubscriptionConfigureListPreviewController.ts
  src/main/controllers/SubscriptionConfirmationPreviewController.ts
  src/main/routes/routes.ts
  src/main/service/SubscriptionService.ts
  src/test/routes/subscription-configure-list-preview.test.ts
  src/test/unit/controllers/SubscriptionConfigureListPreviewController.test.ts
  src/test/unit/controllers/SubscriptionConfirmationPreviewController.test.ts
  src/test/unit/helpers/sortHelper.test.ts
  src/test/unit/service/SubscriptionService.test.ts
  src/test/unit/views/subscription-configure-list-language.test.ts
  src/test/unit/views/subscription-configure-list-preview.test.ts
  src/test/unit/views/subscription-confirmation-preview.test.ts
Due: eslint, prettier

add a11y tests
  src/test/a11y/tests/media-routes.test.ts
Due: eslint, prettier

fix route test
  src/test/routes/subscription-configure-list-preview.test.ts
Due: eslint, prettier

Fix a11y tests and build
  src/test/a11y/tests/media-routes.test.ts
  yarn-audit-known-issues
Due: eslint, prettier

Fix style
  src/test/a11y/tests/media-routes.test.ts
Due: eslint, prettier

add information icon and test
  src/main/resources/locales/cy/subscription-configure-list-preview.json
  src/main/resources/locales/cy/subscription-confirmation-preview.json
  src/main/resources/locales/en/subscription-configure-list-preview.json
  src/main/resources/locales/en/subscription-confirmation-preview.json
  src/main/views/subscription-configure-list-preview.njk
  src/main/views/subscription-confirmation-preview.njk
  src/test/routes/subscription-configure-list-preview.test.ts
  src/test/routes/subscription-confirmation-preview.test.ts
  src/test/unit/views/subscription-configure-list-preview.test.ts
  src/test/unit/views/subscription-confirmation-preview.test.ts
Due: eslint, prettier

fix style
  src/test/unit/views/subscription-configure-list-preview.test.ts
  src/test/unit/views/subscription-confirmation-preview.test.ts
Due: eslint, prettier

fix a11y
  src/main/views/subscription-configure-list-preview.njk
  src/main/views/subscription-confirmation-preview.njk
Due: none

add missing Welsh
  src/main/resources/locales/cy/subscription-configure-list-preview.json
  src/main/resources/locales/cy/subscription-confirmation-preview.json
Due: none

PUB-2561 - Fix AXE findings
  src/main/views/admin/remove-list-search-results.njk
Due: none

wip
  src/main/controllers/system-admin/AuditLogViewerController.ts
  src/main/models/AuditLogSearchCriteria.ts
  src/main/resources/auditActions.json
  src/main/resources/locales/cy/audit-log-viewer.json
  src/main/resources/locales/en/audit-log-viewer.json
  src/main/routes/routes.ts
  src/main/service/AuditLogService.ts
  src/main/views/system-admin/audit-log-viewer.njk
  src/test/unit/service/AuditLogService.test.ts
Due: eslint, prettier

fix style
  src/main/controllers/system-admin/AuditLogViewerController.ts
  src/main/service/AuditLogService.ts
Due: eslint, prettier

fix information icon
  src/main/assets/scss/main.scss
  src/main/views/subscription-configure-list-preview.njk
  src/main/views/subscription-confirmation-preview.njk
Due: stylelint

fix style
  src/main/assets/scss/main.scss
Due: stylelint

fix build
  yarn-audit-known-issues
Due: none

display user friendly action name
  src/main/assets/scss/main.scss
  src/main/resources/auditActions.json
  src/main/service/AuditLogService.ts
  src/main/views/system-admin/audit-log-viewer.njk
Due: eslint, prettier, stylelint

fix style
  src/main/service/AuditLogService.ts
Due: eslint, prettier

add tests
  src/test/a11y/common/mocks/auditLogPageData.json
  src/test/a11y/tests/system-admin-routes.test.ts
  src/test/routes/system-admin/audit-log-viewer.test.ts
  src/test/unit/controllers/system-admin/AuditLogViewerController.test.ts
  src/test/unit/service/AuditLogService.test.ts
  src/test/unit/views/system-admin/audit-log-viewer.test.ts
Due: eslint, prettier

fix styles
  src/test/unit/controllers/system-admin/AuditLogViewerController.test.ts
  src/test/unit/service/AuditLogService.test.ts
Due: eslint, prettier

fix typos and build
  src/test/unit/controllers/system-admin/AuditLogViewerController.test.ts
  src/test/unit/service/AuditLogService.test.ts
  yarn-audit-known-issues
Due: eslint, prettier

fix bug
  src/main/service/SubscriptionService.ts
Due: eslint, prettier

fix back to top position
  src/main/views/system-admin/audit-log-viewer.njk
Due: none

Update service navigation items
  src/main/assets/scss/main.scss
  src/main/resources/locales/cy/template.json
  src/main/resources/locales/en/template.json
  src/main/views/template.njk
  src/test/end-to-end/tests/admin/remove-list-test.ts
  src/test/end-to-end/tests/banner-navigation-test.ts
  src/test/end-to-end/tests/system-admin/audit-log-test.ts
  src/test/end-to-end/tests/system-admin/bulk-create-media-accounts-test.ts
  src/test/end-to-end/tests/system-admin/manage-third-party-users-test.ts
  src/test/end-to-end/tests/system-admin/user-management-test.ts
  src/test/end-to-end/tests/unverified-user-end-to-end-journey-test.ts
  src/test/end-to-end/tests/verified/single-justice-procedure-cases-test.ts
  src/test/unit/assets/banner.tests.ts
  src/test/unit/views/admin/admin-dashboard.test.ts
  src/test/unit/views/bulk-unsubscribe.test.ts
  src/test/unit/views/subscription-management.test.ts
  src/test/unit/views/system-admin/system-admin-dashboard.test.ts
Due: eslint, prettier, stylelint

Update suppressions
  src/test/unit/assets/banner.tests.ts
  yarn-audit-known-issues
Due: eslint, prettier

fix e2e tests
  src/test/end-to-end/tests/system-admin/audit-log-test.ts
Due: eslint, prettier

Fixed failing unit tests
  src/test/unit/views/admin/manual-upload.test.ts
  src/test/unit/views/admin/media-account-approval.test.ts
  src/test/unit/views/admin/media-account-rejection-reasons.test.ts
  src/test/unit/views/admin/media-account-review.test.ts
  src/test/unit/views/create-media-account.test.ts
  src/test/unit/views/pending-subscriptions.test.ts
  src/test/unit/views/system-admin/bulk-create-media-accounts.test.ts
  src/test/unit/views/system-admin/reference-data-upload.test.ts
Due: eslint, prettier

Fixed failing e2e tests
  src/test/end-to-end/tests/banner-navigation-test.ts
  src/test/end-to-end/tests/single-justice-procedure-test.ts
  src/test/end-to-end/tests/sjp-cases-filter-and-paging-test.ts
  src/test/end-to-end/tests/unverified-user-end-to-end-journey-test.ts
Due: eslint, prettier

fix e2e tests and code improvments
  src/main/service/AuditLogService.ts
  src/test/end-to-end/tests/system-admin/audit-log-test.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx, md, yaml, yml, mdx, json}
  stylelint: any of: **/*.scss
