Repository hmcts/pip-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-push:
    scripts:
        'check-for-unsuppressed-vulns.py':
            runner: python3
        commands:
            audit:
                run: yarn audit | cat
pre-commit:
    parallel: true
    commands:
        eslint:
            glob: '*.{js,ts,jsx,tsx}'
            run: yarn eslint --fix {staged_files}
        prettier:
            glob: '*.{js,ts,jsx,tsx, md, yaml, yml, mdx, json}'
            run: yarn prettier --write {staged_files}
        stylelint:
            glob: '**/*.scss'
            run: yarn stylelint {staged_files}

Fixed dependency version
  yarn.lock
Due: none

Fixed dependency version (#1314)
  yarn.lock
Due: none

PUB-2517: Spike - Investigate list search bar behaviour
  src/main/assets/scss/main.scss
  src/main/views/list-template.njk
  src/main/views/style-guide/civil-and-family-daily-cause-list.njk
Due: stylelint

Update ET lists to display applicant details
  src/main/service/listManipulation/EtListsService.ts
  src/main/views/style-guide/et-daily-list.njk
  src/main/views/style-guide/et-fortnightly-list.njk
Due: eslint, prettier

Update ET lists mock json files
  src/test/unit/mocks/etDailyList.json
  src/test/unit/mocks/etFortnightlyList.json
Due: none

Update test
  src/test/unit/service/listManipulation/EtListsService.test.ts
Due: eslint, prettier

PUB-2519 Fix SJP filter behaviour (#1312)
  src/main/views/macros/sjp-common.njk
  src/test/end-to-end/tests/sjp-cases-filter-and-paging-test.ts
  src/test/unit/views/style-guide/single-justice-procedure-press.test.ts
Due: eslint, prettier

Updated dependency + known issue
  yarn-audit-known-issues
  yarn.lock
Due: none

Updated dependency + known issue (#1319)
  yarn-audit-known-issues
  yarn.lock
Due: none

update end-to-end test mock json
  src/test/end-to-end/shared/mocks/etDailyList.json
Due: none

PUB-2511: Updating dependencies
  package.json
  yarn.lock
Due: none

PUB-2511: Reverting breaking changes and updating dependencies
  Dockerfile
  package.json
  yarn.lock
Due: none

Updated pipeline
  yarn-audit-known-issues
Due: none

reverting ts-jest
  package.json
  yarn.lock
Due: none

Updated pipeline (#1321)
  yarn-audit-known-issues
Due: none

PUB-2523 - Error creating audit log when many publications (#1313)
  src/main/controllers/admin/RemoveListConfirmationController.ts
  src/main/service/RemoveListHelperService.ts
  src/test/unit/controllers/admin/RemoveListConfirmationController.test.ts
  src/test/unit/service/RemoveListHelperService.test.ts
Due: eslint, prettier

Crime integration
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/pip-frontend/values.dev.template.yaml
  charts/pip-frontend/values.stg.template.yaml
  charts/pip-frontend/values.yaml
  config/default.json
  jestEnvVars.js
  src/main/authentication/authentication.ts
  src/main/authentication/authenticationHandler.ts
  src/main/authentication/crimeIdamAuthentication.ts
  src/main/controllers/CrimeLoginController.ts
  src/main/controllers/CrimeRejectedLoginController.ts
  src/main/controllers/SessionExpiringController.ts
  src/main/controllers/SignInController.ts
  src/main/helpers/consts.ts
  src/main/helpers/envUrls.ts
  src/main/modules/helmet/index.ts
  src/main/resources/locales/cy/sign-in.json
  src/main/resources/locales/en/crime-rejected-login.json
  src/main/resources/locales/en/sign-in.json
  src/main/resources/requests/AccountManagementRequests.ts
  src/main/resources/requests/utils/axiosConfig.ts
  src/main/routes/routes.ts
  src/main/service/SessionManagementService.ts
  src/main/views/crime-rejected-login.njk
  src/main/views/sign-in.njk
  src/test/unit/authentication/Authentication.test.ts
  src/test/unit/authentication/authenticationHandler.test.ts
  src/test/unit/authentication/crimeIdamAuthentication.test.ts
  src/test/unit/controllers/CrimeLoginController.test.ts
  src/test/unit/controllers/CrimeRejectedLoginController.test.ts
  src/test/unit/controllers/SessionExpiringController.test.ts
  src/test/unit/controllers/SignInController.test.ts
  src/test/unit/requests/accountManagementRequests.test.ts
  src/test/unit/service/SessionManagementService.test.ts
  src/test/unit/views/crime-rejected-login.test.ts
  src/test/unit/views/sign-in.test.ts
Due: eslint, prettier

Remove enable crime idam boolean
  charts/pip-frontend/values.dev.template.yaml
  charts/pip-frontend/values.stg.template.yaml
  charts/pip-frontend/values.yaml
  jestEnvVars.js
  src/main/authentication/crimeIdamAuthentication.ts
  src/main/controllers/SignInController.ts
  src/main/routes/routes.ts
  src/main/views/sign-in.njk
  src/test/unit/controllers/SignInController.test.ts
Due: eslint, prettier

Bumping chart version/ fixing aliases
  charts/pip-frontend/Chart.yaml
Due: none

Add route tests
  src/main/authentication/crimeIdamAuthentication.ts
  src/test/routes/crime-rejected-login.test.ts
  src/test/routes/sign-in.test.ts
Due: eslint, prettier

Modified test to create random test user accounts with test prefix
  package.json
  src/test/end-to-end/tests/system-admin/bulk-create-media-accounts-test.ts
  yarn.lock
Due: eslint, prettier

PUB-2511-2: Updating dependencies
  Dockerfile
  package.json
  yarn.lock
Due: none

Updated supression
  yarn-audit-known-issues
Due: none

update suppressions
  yarn-audit-known-issues
Due: none

Re-ordering of court search results for admin pages
  src/main/views/admin/manual-upload.njk
  src/main/views/admin/remove-list-search.njk
  src/main/views/macros/common-components.njk
  src/main/views/search.njk
  src/main/views/system-admin/delete-court-reference-data.njk
Due: none

Fixed failing unit tests
  src/test/unit/views/admin/remove-list-search.test.ts
  src/test/unit/views/search.test.ts
  src/test/unit/views/system-admin/delete-court-reference-data.test.ts
  yarn-audit-known-issues
Due: eslint, prettier

Fix code review comments and add error page
  src/main/controllers/ErrorController.ts
  src/main/resources/locales/en/crime-rejected-login.json
  src/main/views/crime-rejected-login.njk
  src/test/routes/error.test.ts
  src/test/unit/controllers/ErrorController.test.ts
  src/test/unit/views/crime-rejected-login.test.ts
Due: eslint, prettier

Fix code review comments
  src/main/authentication/crimeIdamAuthentication.ts
  src/main/controllers/CrimeLoginController.ts
  src/main/controllers/ErrorController.ts
  src/main/routes/routes.ts
  src/test/routes/error.test.ts
  src/test/unit/controllers/ErrorController.test.ts
  src/test/unit/views/sign-in.test.ts
Due: eslint, prettier

fix build
  yarn-audit-known-issues
Due: none

PUB-2527 - Display applicant on ET lists (#1316)
  src/main/service/listManipulation/EtListsService.ts
  src/main/views/style-guide/et-daily-list.njk
  src/main/views/style-guide/et-fortnightly-list.njk
  src/test/end-to-end/shared/mocks/etDailyList.json
  src/test/unit/mocks/etDailyList.json
  src/test/unit/mocks/etFortnightlyList.json
  src/test/unit/service/listManipulation/EtListsService.test.ts
  yarn-audit-known-issues
Due: eslint, prettier

Fix unit test
  src/main/controllers/CrimeLoginController.ts
  src/test/unit/controllers/CrimeLoginController.test.ts
Due: eslint, prettier

Update suppression
  yarn-audit-known-issues
Due: none

PUB-2511-2: downgrading typescript-eslint
  package.json
  yarn.lock
Due: none

PUB-2511-2: upgrading axios
  package.json
  yarn.lock
Due: none

PUB-2359 Removed calls to channel-management (#1311)
  README.md
  charts/pip-frontend/Chart.yaml
  charts/pip-frontend/values.yaml
  config/default.json
  frontend-arch.png
  src/main/resources/requests/PublicationFileRequests.ts
  src/main/resources/requests/utils/axiosConfig.ts
  src/main/service/ListDownloadService.ts
  src/test/unit/requests/publicationFileRequests.test.ts
  src/test/unit/resources/requests/utils/axiosConfigTest.ts
  src/test/unit/service/ListDownloadService.test.ts
Due: eslint, prettier

Removed wait in test and moved csv to dev dependency
  package.json
  src/test/end-to-end/tests/system-admin/bulk-create-media-accounts-test.ts
Due: eslint, prettier

Removed wait in test and moved csv to dev dependency
  src/test/end-to-end/tests/system-admin/bulk-create-media-accounts-test.ts
Due: eslint, prettier

PUB-2511: upgrading axios and downgrading typescript-eslint
  package.json
  yarn.lock
Due: none
