Repository hmcts/pip-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint

eslint:
  run: yarn eslint --fix {staged_files}

prettier:
  run: yarn prettier --write {staged_files}

stylelint:
  run: yarn stylelint {staged_files}

Update naming within schema
  src/main/resources/locales/cy/business-and-property-division-rolls-building-daily-cause-list.json
  src/main/resources/locales/en/business-and-property-division-rolls-building-daily-cause-list.json
  src/test/unit/mocks/businessAndPropertyDivisionRollsBuildingDailyCauseList.json
Due: none

Fixed failing unit tests
  src/main/resources/locales/en/business-and-property-division-rolls-building-daily-cause-list.json
  src/test/unit/views/style-guide/business-and-property-division-rolls-building-daily-cause-list.test.ts
Due: eslint, prettier

Update unit tests
  src/test/unit/mocks/businessAndPropertyDivisionRollsBuildingDailyCauseList.json
  src/test/unit/views/style-guide/business-and-property-division-rolls-building-daily-cause-list.test.ts
Due: eslint, prettier

Add additional test case for interim applications list
  src/test/unit/views/style-guide/interim-applications-chd-daily-cause-list.test.ts
Due: eslint, prettier

Remove unused styling
  src/main/assets/scss/home.scss
Due: stylelint

Add new a11y test
  src/test/a11y/tests/style-guide/business-and-property-rolls-building-daily-cause-list.test.ts
Due: eslint, prettier

Change description location
  src/main/views/home.njk
  src/main/views/template.njk
  src/test/unit/views/home.test.ts
Due: eslint, prettier

Update postcode requirement for SJP (#1722)
  src/main/service/listManipulation/SjpPublicListService.ts
  src/test/unit/service/listManipulation/SjpPublicListService.test.ts
Due: eslint, prettier

Update suppressions
  yarn-audit-known-issues
Due: none

yarn known issues
  yarn-audit-known-issues
Due: none

Update yarn-audit-known-issues
  yarn-audit-known-issues
Due: none

Updating dependencies
  .github/workflows/build.yml
  .github/workflows/main.yml
  .nvmrc
  package.json
  yarn.lock
Due: none

Update suppressions (#1726)
  yarn-audit-known-issues
Due: none

Adding to yarn-audit-known-issues
  yarn-audit-known-issues
Due: none

Downgrading pa11y
  package.json
  yarn.lock
Due: none

Downgrading codeceptjs
  package.json
Due: none

Downgrading codeceptjs
  yarn.lock
Due: none

Updating Jenkins-Infrastructure to v2.8.0
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
Due: none

added fix
  src/main/views/style-guide/daily-cause-list.njk
Due: none

fix e2e tests
  src/main/routes/routes.ts
  src/test/end-to-end/tests/custom-steps.ts
  src/test/end-to-end/tests/login-test.ts
Due: eslint, prettier

added suppressions
  yarn-audit-known-issues
Due: none

fix cft tests
  src/test/end-to-end/tests/custom-steps.ts
Due: eslint, prettier

Updating eslint
  package.json
  yarn.lock
Due: none

adding to yarn-audit-known-issues
  yarn-audit-known-issues
Due: none

fixed
  src/main/resources/locales/en/publishing-policy.json
  src/main/views/publishing-policy.njk
Due: none

fix tests
  src/test/end-to-end/tests/custom-steps.ts
  src/test/end-to-end/tests/login-test.ts
Due: eslint, prettier

Revert "fixed"
  src/main/resources/locales/en/publishing-policy.json
  src/main/views/publishing-policy.njk
Due: none

rename
  src/main/resources/locales/en/publishing-policy.json
Due: none

suppressions + tests
  src/test/unit/views/publishing-policy.test.ts
  yarn-audit-known-issues
Due: eslint, prettier

went through kians notes
  src/main/views/style-guide/daily-cause-list.njk
Due: none

went through daniels notes
  src/main/views/style-guide/daily-cause-list.njk
Due: none

update tests
  src/test/end-to-end/tests/custom-steps.ts
  src/test/end-to-end/tests/login-test.ts
Due: eslint, prettier

Adding TECHNOLOGY_AND_CONSTRUCTION_COURT_KB_DAILY_CAUSE_LIST back in
  src/main/resources/listLookup.json
  src/test/unit/service/ManualUploadService.test.ts
  src/test/unit/service/PublicationService.test.ts
  src/test/unit/views/subscription-configure-list.test.ts
  src/test/unit/views/system-admin/manage-third-party-users-subscriptions.test.ts
Due: eslint, prettier

Removing TECHNOLOGY_AND_CONSTRUCTION_COURT_KB_DAILY_CAUSE_LIST and adding TECHNOLOGY_AND_CONSTRUCTION_COURT_DAILY_CAUSE_LIST
  src/main/resources/listLookup.json
  src/test/unit/service/ManualUploadService.test.ts
  src/test/unit/views/subscription-configure-list.test.ts
Due: eslint, prettier

amended welsh version
  src/main/resources/locales/cy/publishing-policy.json
Due: none

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx, md, yaml, yml, mdx, json}
  stylelint: any of: **/*.scss
