Repository hmcts/pip-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-push:
    scripts:
        'check-for-unsuppressed-vulns.py':
            runner: python3
        commands:
            audit:
                run: yarn audit | cat
pre-commit:
    parallel: true
    commands:
        eslint:
            glob: '*.{js,ts,jsx,tsx}'
            run: yarn eslint --fix {staged_files}
        prettier:
            glob: '*.{js,ts,jsx,tsx, md, yaml, yml, mdx, json}'
            run: yarn prettier --write {staged_files}
        stylelint:
            glob: '**/*.scss'
            run: yarn stylelint {staged_files}

Remove padding between side and main panel
  src/main/assets/scss/main.scss
  src/main/views/style-guide/single-justice-procedure-press.njk
  src/main/views/style-guide/single-justice-procedure.njk
Due: stylelint

PUB-2630 - Updated templates and config
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/pip-frontend/values.dev.template.yaml
  charts/pip-frontend/values.yaml
  config/default.json
  src/main/authentication/ssoAuthentication.ts
  src/test/unit/authentication/ssoAuthentication.test.ts
Due: eslint, prettier

PUB-2603 Fix SJP filter panel overlapping with main panel (#1361)
  src/main/assets/scss/main.scss
  src/main/views/macros/sjp-common.njk
  src/main/views/style-guide/single-justice-procedure-press.njk
  src/main/views/style-guide/single-justice-procedure.njk
Due: stylelint

PUB-2630 - Added functional tests
  src/test/config.ts
  src/test/end-to-end/tests/custom-steps.ts
  src/test/end-to-end/tests/login-test.ts
Due: eslint, prettier

PUB-2630 - Updated dev key name
  charts/pip-frontend/values.dev.template.yaml
Due: none

PUB-2630 - Updated jenkins file
  Jenkinsfile_CNP
  Jenkinsfile_nightly
Due: none

PUB-2595 - Updated hearing type (#1369)
  src/main/resources/locales/en/magistrates-standard-list.json
Due: none

Lint fixes
  src/test/a11y/tests/public-routes.test.ts
Due: eslint, prettier

PUB-2626 - Accessibility fixes
  src/main/assets/scss/main.scss
  src/main/views/sign-in.njk
  src/main/views/style-guide/civil-and-family-daily-cause-list.njk
  src/test/unit/views/sign-in.test.ts
Due: eslint, prettier, stylelint

PUB-2630 - Updated README + Added integration test for no roles
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  README.md
  src/test/config.ts
  src/test/end-to-end/tests/login-test.ts
Due: eslint, prettier

PUB-2618 - Dependency Updates (#1363)
  .yarn/releases/yarn-4.4.0.cjs
  .yarn/releases/yarn-4.5.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

Update SSO logic
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  README.md
  charts/pip-frontend/values.dev.template.yaml
  charts/pip-frontend/values.stg.template.yaml
  charts/pip-frontend/values.yaml
  config/default.json
  src/main/authentication/authenticationHandler.ts
  src/main/authentication/ssoAuthentication.ts
  src/main/controllers/SessionExpiringController.ts
  src/main/helpers/consts.ts
  src/main/routes/routes.ts
  src/main/service/SessionManagementService.ts
  src/test/config.ts
  src/test/end-to-end/tests/login-test.ts
  src/test/routes/login.test.ts
  src/test/unit/authentication/authenticationHandler.test.ts
  src/test/unit/authentication/ssoAuthentication.test.ts
  src/test/unit/controllers/SessionExpiredController.test.ts
  src/test/unit/controllers/SessionExpiringController.test.ts
  src/test/unit/service/SessionManagementService.test.ts
Due: eslint, prettier

Lint fixes
  src/main/authentication/ssoAuthentication.ts
  src/main/helpers/consts.ts
  src/main/routes/routes.ts
  src/main/service/SessionManagementService.ts
  src/test/routes/login.test.ts
  src/test/unit/authentication/ssoAuthentication.test.ts
Due: eslint, prettier

Remove redundant call from route file
  src/main/routes/routes.ts
Due: eslint, prettier

Fix E2E Tests Admin
  src/test/end-to-end/tests/system-admin/user-management-test.ts
Due: eslint, prettier

Fix E2E Tests Admin (#1373)
  src/test/end-to-end/tests/system-admin/user-management-test.ts
Due: eslint, prettier

Update B2C admin login path
  src/test/end-to-end/tests/admin/change-own-user-test.ts
  src/test/end-to-end/tests/admin/create-new-account-test.ts
  src/test/end-to-end/tests/admin/manage-media-account-request-test.ts
  src/test/end-to-end/tests/admin/manual-upload-flat-test.ts
  src/test/end-to-end/tests/admin/manual-upload-json-test.ts
  src/test/end-to-end/tests/admin/manual-upload-sensitivity-test.ts
  src/test/end-to-end/tests/admin/remove-list-test.ts
  src/test/end-to-end/tests/admin/user-management-test.ts
  src/test/end-to-end/tests/banner-navigation-test.ts
  src/test/end-to-end/tests/custom-steps.ts
  src/test/end-to-end/tests/login-test.ts
  src/test/end-to-end/tests/system-admin/audit-log-test.ts
  src/test/end-to-end/tests/system-admin/blob-explorer-test.ts
  src/test/end-to-end/tests/system-admin/bulk-create-media-accounts-test.ts
  src/test/end-to-end/tests/system-admin/create-system-admin-test.ts
  src/test/end-to-end/tests/system-admin/delete-court-test.ts
  src/test/end-to-end/tests/system-admin/manage-third-party-users-test.ts
  src/test/end-to-end/tests/system-admin/upload-reference-data-test.ts
  src/test/end-to-end/tests/system-admin/user-management-test.ts
Due: eslint, prettier

Lint fixes
  src/test/end-to-end/tests/admin/manual-upload-flat-test.ts
Due: eslint, prettier

Update e2e tests to use SSO admin log-ins
  src/test/end-to-end/tests/admin/B2C/change-own-user-test.ts
  src/test/end-to-end/tests/admin/B2C/create-new-account-test.ts
  src/test/end-to-end/tests/admin/B2C/user-management-test.ts
  src/test/end-to-end/tests/admin/manage-media-account-request-test.ts
  src/test/end-to-end/tests/admin/manual-upload-flat-test.ts
  src/test/end-to-end/tests/admin/manual-upload-json-test.ts
  src/test/end-to-end/tests/admin/manual-upload-sensitivity-test.ts
  src/test/end-to-end/tests/custom-steps.ts
  src/test/end-to-end/tests/login-test.ts
  src/test/end-to-end/tests/system-admin/B2C/create-system-admin-test.ts
  src/test/end-to-end/tests/system-admin/audit-log-test.ts
  src/test/end-to-end/tests/system-admin/blob-explorer-test.ts
  src/test/end-to-end/tests/system-admin/bulk-create-media-accounts-test.ts
  src/test/end-to-end/tests/system-admin/delete-court-test.ts
  src/test/end-to-end/tests/system-admin/manage-third-party-users-test.ts
  src/test/end-to-end/tests/system-admin/upload-reference-data-test.ts
  src/test/end-to-end/tests/system-admin/user-management-test.ts
Due: eslint, prettier

Lint fixes
  src/test/end-to-end/tests/custom-steps.ts
Due: eslint, prettier

Fixed failing e2e tests
  src/test/end-to-end/tests/custom-steps.ts
  src/test/end-to-end/tests/login-test.ts
  src/test/end-to-end/tests/system-admin/B2C/change-own-role-test.ts
  src/test/end-to-end/tests/system-admin/audit-log-test.ts
  src/test/end-to-end/tests/system-admin/user-management-test.ts
Due: eslint, prettier

Add session sign out to SSO
  src/main/helpers/envUrls.ts
  src/main/resources/requests/utils/axiosConfig.ts
  src/main/service/SessionManagementService.ts
Due: eslint, prettier

fix a11y tests
  src/main/views/style-guide/single-justice-procedure-press.njk
  src/main/views/style-guide/single-justice-procedure.njk
Due: none

Add session sign out to SSO
  src/main/helpers/envUrls.ts
  src/main/resources/requests/utils/axiosConfig.ts
  src/main/service/SessionManagementService.ts
  src/test/unit/service/SessionManagementService.test.ts
Due: eslint, prettier

Update logout functionality in e2e test
  src/main/resources/requests/utils/axiosConfig.ts
  src/main/service/SessionManagementService.ts
  src/test/end-to-end/tests/admin/manage-media-account-request-test.ts
  src/test/end-to-end/tests/admin/manual-upload-flat-test.ts
  src/test/end-to-end/tests/admin/manual-upload-json-test.ts
  src/test/end-to-end/tests/admin/manual-upload-sensitivity-test.ts
  src/test/end-to-end/tests/custom-steps.ts
  src/test/end-to-end/tests/login-test.ts
  src/test/end-to-end/tests/system-admin/audit-log-test.ts
  src/test/end-to-end/tests/system-admin/blob-explorer-test.ts
  src/test/end-to-end/tests/system-admin/bulk-create-media-accounts-test.ts
  src/test/end-to-end/tests/system-admin/delete-court-test.ts
  src/test/end-to-end/tests/system-admin/manage-third-party-users-test.ts
  src/test/end-to-end/tests/system-admin/upload-reference-data-test.ts
  src/test/end-to-end/tests/system-admin/user-management-test.ts
Due: eslint, prettier

Fixed failing session management unit tests
  src/test/end-to-end/tests/system-admin/bulk-create-media-accounts-test.ts
  src/test/unit/service/SessionManagementService.test.ts
Due: eslint, prettier

Update e2e tests
  src/test/end-to-end/tests/system-admin/audit-log-test.ts
  src/test/end-to-end/tests/system-admin/user-management-test.ts
Due: eslint, prettier

Update e2e tests
  src/test/end-to-end/tests/system-admin/audit-log-test.ts
Due: eslint, prettier

Attempt to fix failing e2e test
  src/test/end-to-end/tests/admin/manage-media-account-request-test.ts
  src/test/end-to-end/tests/custom-steps.ts
Due: eslint, prettier

Added accessibility tests for admin functionalities
  src/test/accessibility/accessibility-admin-test.ts
Due: eslint, prettier

Modified file name for public journey accessibility tests
  src/test/accessibility/accessibility-public-test.ts
Due: eslint, prettier

PUB-2643 - Linting
  src/test/a11y/tests/system-admin-routes.test.ts
  src/test/end-to-end/tests/system-admin/user-management-test.ts
  src/test/unit/views/admin/admin-dashboard.test.ts
Due: eslint, prettier

PUB-2643 - Fixed unit test
  src/test/unit/views/system-admin/system-admin-dashboard.test.ts
Due: eslint, prettier

PUB-2600 Fix Back To Top Accessibility issue (#1366)
  src/main/assets/scss/main.scss
  src/main/views/admin/admin-dashboard.njk
  src/main/views/alphabetical-search.njk
  src/main/views/home.njk
  src/main/views/location-name-search.njk
  src/main/views/style-guide/single-justice-procedure-press.njk
  src/main/views/style-guide/single-justice-procedure.njk
  src/main/views/summary-of-publications.njk
  src/main/views/system-admin/system-admin-dashboard.njk
Due: stylelint

PUB-2643 - Fixed E2E tests
  src/test/end-to-end/tests/banner-navigation-test.ts
Due: eslint, prettier
