Repository hmcts/pip-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint

eslint:
  run: yarn eslint --fix {staged_files}

prettier:
  run: yarn prettier --write {staged_files}

stylelint:
  run: yarn stylelint {staged_files}

PUB-2597 - Updated known issues
  yarn-audit-known-issues
  yarn.lock
Due: none

PUB-2597 - Updated known issue
  yarn-audit-known-issues
Due: none

PUB-2555 - Updated App Insights
  README.md
  charts/pip-frontend/values.yaml
  config/default.json
  package.json
  src/main/modules/appinsights/index.ts
  yarn.lock
Due: eslint, prettier

PUB-2555 - Formatting
  src/main/modules/appinsights/index.ts
Due: eslint, prettier

PUB-2555 - Updated known issues
  yarn-audit-known-issues
Due: none

Bumping chart version/ fixing aliases
  charts/pip-frontend/Chart.yaml
Due: none

PUB-2555 - Updated jest
  jest.a11y.config.js
  jest.config.js
  jest.routes.config.js
  jest.smoke.config.js
Due: eslint, prettier

PUB-2547 - Updated sass-loader
  package.json
  webpack.config.js
  yarn-audit-known-issues
  yarn.lock
Due: eslint, prettier

PUB-2547 - Updated sass-loader
  src/main/assets/scss/main.scss
  webpack.config.js
Due: eslint, prettier, stylelint

PUB-2547 - Updated webpack
  webpack.config.js
Due: eslint, prettier

PUB-2597 - Removed wording from Search page (#1341)
  src/main/resources/locales/cy/search.json
  src/main/resources/locales/en/search.json
  src/main/views/search.njk
  src/test/end-to-end/tests/a-z-list-courts-and-tribunals-test.ts
  src/test/unit/views/search.test.ts
  yarn-audit-known-issues
  yarn.lock
Due: eslint, prettier

PUB-2226 - Remove Safe keyword from nunjucks files and filters (#1329)
  src/main/modules/nunjucks/njkFilters.ts
  src/main/views/style-guide/care-standards-list.njk
  src/main/views/style-guide/civil-and-family-daily-cause-list.njk
  src/main/views/style-guide/cop-daily-cause-list.njk
  src/main/views/style-guide/daily-cause-list.njk
  src/main/views/style-guide/family-daily-cause-list.njk
  src/main/views/style-guide/sscs-daily-list.njk
  src/test/unit/modules/nunjucks/njkFilters.test.ts
Due: eslint, prettier

PUB-2548 - Updated language files
  src/main/controllers/admin/ManualUploadController.ts
  src/main/controllers/style-guide/CrownDailyListController.ts
  src/main/controllers/system-admin/BulkCreateMediaAccountsConfirmationController.ts
  src/main/controllers/system-admin/CreateSystemAdminAccountSummaryController.ts
  src/main/controllers/system-admin/DeleteCourtReferenceDataConfirmationController.ts
  src/main/controllers/system-admin/DeleteThirdPartyUserConfirmationController.ts
  src/main/controllers/system-admin/ManageThirdPartyUsersSubscriptionsController.ts
  src/main/models/request/PipRequest.ts
  src/test/unit/controllers/admin/MediaAccountRejectionController.test.ts
  src/test/unit/controllers/admin/MediaApplicationsController.test.ts
  src/test/unit/controllers/system-admin/DeleteThirdPartyUserSuccessController.test.ts
  src/test/unit/controllers/system-admin/ManageThirdPartyUsersSubscriptionController.test.ts
  src/test/unit/controllers/system-admin/ReferenceDataUploadSummaryController.test.ts
Due: eslint, prettier

PUB-2548 - Fixed route test
  src/test/routes/system-admin/bulk-create-media-accounts.test.ts
Due: eslint, prettier

PUB-2548 - Updated typescript
  src/main/modules/appinsights/index.ts
Due: eslint, prettier

PUB-2548 - Updated tests
  src/test/end-to-end/shared/helpers/testingSupportApiHelper.ts
  src/test/end-to-end/tests/custom-steps.ts
Due: eslint, prettier

PUB-2548 - Updated Custom Steps
  src/test/end-to-end/tests/custom-steps.ts
Due: eslint, prettier

Update SSO redirect URL and handling of security groups
  src/main/authentication/authentication.ts
  src/main/authentication/ssoAuthentication.ts
  src/main/routes/routes.ts
  src/test/unit/authentication/ssoAuthentication.test.ts
Due: eslint, prettier

Lint fixes
  src/main/authentication/ssoAuthentication.ts
Due: eslint, prettier

PUB-2548 - Updated modules
  src/main/cacheManager.ts
  src/main/development.ts
Due: eslint, prettier

PUB-2548 - Updated express
  yarn.lock
Due: none

PUB-2340-b
  yarn.lock
Due: none

PUB-2529 - Updated yarn
  yarn-audit-known-issues
  yarn.lock
Due: none

PUB-2547 - Updated sass-loader (#1343)
  package.json
  src/main/assets/scss/main.scss
  webpack.config.js
  yarn.lock
Due: eslint, prettier, stylelint

PUB-2529 - Package updates
  package.json
  yarn.lock
Due: none

PUB-2529 - Updated dependency
  yarn.lock
Due: none

PUB-2529 - Fixed axios
  package.json
  yarn.lock
Due: none

PUB-2529 - Dependency updates
  package.json
  yarn.lock
Due: none

Fix vulnurability
  package.json
  yarn-audit-known-issues
  yarn.lock
Due: none

Fix vulnurability (#1346)
  package.json
  yarn-audit-known-issues
  yarn.lock
Due: none

Added playwright axe example setup
  .gitignore
  package.json
  src/test/accessibility/fixture/axe-fixture.ts
  src/test/accessibility/playwright.config.ts
  src/test/accessibility/tests/example.spec.ts
  yarn.lock
Due: eslint, prettier

Added playwright axe example setup
  src/test/accessibility/fixture/axe-fixture.ts
  src/test/accessibility/playwright.config.ts
  src/test/accessibility/tests/example.spec.ts
Due: eslint, prettier

PUB-2529 - Updated yarn lock
  yarn.lock
Due: none

PUB-2529 - Updated yarn
  yarn.lock
Due: none

PUB-2548 - Updated yarn lock
  yarn.lock
Due: none

Created accessibility test suite using codeceptJs, playwright and axe. Wrote first set of tests for public user journey
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  package.json
  src/test/accessibility/accessibility-test.ts
  src/test/accessibility/accessibility.conf.js
  src/test/accessibility/accessibility.conf.ts
  src/test/accessibility/aggregateAccessibilityResults.js
  src/test/accessibility/amendAccessibilityReport.js
  src/test/config.ts
  src/test/end-to-end/tests/custom-steps.ts
  yarn.lock
Due: eslint, prettier

Created accessibility test suite using codeceptJs, playwright and axe. Wrote first set of tests for public user journey
  src/test/accessibility/accessibility-test.ts
  src/test/accessibility/accessibility.conf.ts
  src/test/accessibility/aggregateAccessibilityResults.js
  src/test/accessibility/amendAccessibilityReport.js
  src/test/config.ts
  src/test/end-to-end/tests/custom-steps.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx, md, yaml, yml, mdx, json}
  stylelint: any of: **/*.scss
