Repository hmcts/pip-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-push:
    scripts:
        'check-for-unsuppressed-vulns.py':
            runner: python3
        commands:
            audit:
                run: yarn audit | cat
pre-commit:
    parallel: true
    commands:
        eslint:
            glob: '*.{js,ts,jsx,tsx}'
            run: yarn eslint --fix {staged_files}
        prettier:
            glob: '*.{js,ts,jsx,tsx, md, yaml, yml, mdx, json}'
            run: yarn prettier --write {staged_files}
        stylelint:
            glob: '**/*.scss'
            run: yarn stylelint {staged_files}

PUB-2730 Update calls to subscription-management (#1429)
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  README.md
  charts/pip-frontend/Chart.yaml
  charts/pip-frontend/values.dev.template.yaml
  charts/pip-frontend/values.yaml
  config/default.json
  frontend-arch.png
  service-diagram.png
  src/main/resources/requests/SubscriptionRequests.ts
  src/main/resources/requests/utils/axiosConfig.ts
  src/test/config.ts
  src/test/end-to-end/shared/testingSupportApi.ts
  src/test/end-to-end/tests/login-test.ts
  src/test/end-to-end/tests/system-admin/delete-court-test.ts
  src/test/unit/requests/subscriptionRequest.test.ts
  src/test/unit/resources/requests/utils/axiosConfigTest.ts
  yarn-audit-known-issues
Due: eslint, prettier

Add view tests
  src/main/resources/listLookup.json
  src/test/a11y/tests/style-guide/intellectual-property-and-enterprise-court-daily-cause-list.test.ts
  src/test/routes/style-guide/intellectual-property-and-enterprise-court-daily-cause-list.test.ts
  src/test/routes/style-guide/revenue-list-chd-daily-cause-list.test.ts
  src/test/unit/views/style-guide/intellectual-property-and-enterprise-court-daily-cause-list.test.ts
  src/test/unit/views/style-guide/intellectual-property-list-chd-daily-cause-list.test.ts
  src/test/unit/views/style-guide/london-circuit-commercial-court-kb-daily-cause-list.test.ts
  src/test/unit/views/style-guide/patents-court-chd-daily-cause-list.test.ts
  src/test/unit/views/style-guide/pensions-list-chd-daily-cause-list.test.ts
  src/test/unit/views/style-guide/revenue-list-chd-daily-cause-list.test.ts
  src/test/unit/views/style-guide/technology-and-construction-court-kb-daily-cause-list.test.ts
Due: eslint, prettier

lint fixes
  src/test/unit/views/style-guide/london-circuit-commercial-court-kb-daily-cause-list.test.ts
  src/test/unit/views/style-guide/patents-court-chd-daily-cause-list.test.ts
  src/test/unit/views/style-guide/pensions-list-chd-daily-cause-list.test.ts
  src/test/unit/views/style-guide/revenue-list-chd-daily-cause-list.test.ts
  src/test/unit/views/style-guide/technology-and-construction-court-kb-daily-cause-list.test.ts
Due: eslint, prettier

Update revenue list tests
  src/main/resources/listLookup.json
  src/test/a11y/tests/style-guide/revenue-list-chd-daily-cause-list.test.ts
  src/test/routes/style-guide/revenue-list-chd-daily-cause-list.test.ts
  src/test/unit/views/style-guide/revenue-list-chd-daily-cause-list.test.ts
Due: eslint, prettier

Update revenue list URL
  src/main/routes/routes.ts
Due: eslint, prettier

Fixed failing unit tests
  src/main/resources/listLookup.json
  src/test/unit/views/subscription-configure-list.test.ts
Due: eslint, prettier

Lint fixes
  src/test/unit/views/subscription-configure-list.test.ts
Due: eslint, prettier

Bumping chart version/ fixing aliases
  charts/pip-frontend/Chart.yaml
Due: none

Remove jurisdiction types from selected filters if main jurisdiction does not exist
  src/main/service/FilterService.ts
Due: eslint, prettier

Lint fixes
  src/main/service/FilterService.ts
Due: eslint, prettier

Fixed failing unit tests
  src/test/unit/service/FilterService.test.ts
Due: eslint, prettier

Add suppressions
  yarn-audit-known-issues
Due: none

Removed redundant space
  src/main/resources/locales/cy/pensions-list-chd-daily-cause-list.json
Due: none

Modified a-z-list functional test to get correct path
  src/test/end-to-end/tests/a-z-list-courts-and-tribunals-test.ts
Due: eslint, prettier

Add Court of Appeal (Civil Division) Daily Cause List
  src/main/resources/listLookup.json
  src/main/resources/locales/cy/court-of-appeal-civil-daily-cause-list.json
  src/main/resources/locales/en/court-of-appeal-civil-daily-cause-list.json
  src/main/routes/routes.ts
  src/main/views/style-guide/court-of-appeal-civil-daily-cause-list.njk
  src/test/a11y/tests/style-guide/court-of-appeal-civil-daily-cause-list.test.ts
  src/test/routes/style-guide/court-of-appeal-civil-daily-cause-list.test.ts
  src/test/unit/mocks/courtOfAppealCivilDailyCauseList.json
  src/test/unit/service/ManualUploadService.test.ts
  src/test/unit/service/PublicationService.test.ts
  src/test/unit/service/SubscriptionService.test.ts
  src/test/unit/views/style-guide/court-of-appeal-civil-daily-cause-list.test.ts
  src/test/unit/views/subscription-configure-list.test.ts
Due: eslint, prettier

Modified a-z-list filter functional test
  src/test/end-to-end/tests/a-z-list-courts-and-tribunals-test.ts
Due: eslint, prettier

Lint fixes
  src/test/unit/service/SubscriptionService.test.ts
  src/test/unit/views/style-guide/court-of-appeal-civil-daily-cause-list.test.ts
  src/test/unit/views/subscription-configure-list.test.ts
Due: eslint, prettier

Fixed failing view test
  src/test/unit/views/style-guide/court-of-appeal-civil-daily-cause-list.test.ts
  yarn-audit-known-issues
Due: eslint, prettier

PUB-2817 - Monthly Dependencies
  .nvmrc
  Dockerfile
  package.json
  src/main/assets/scss/main.scss
  yarn-audit-known-issues
  yarn.lock
Due: stylelint

PUB-2817 - Updated monthly dependencies
  jestEnvVars.js
  package.json
  yarn.lock
Due: eslint, prettier

PUB-2817 - Updated monthly dependencies
  package.json
  yarn.lock
Due: none

Updated Welsh text for High Court of the Family Division
  src/main/resources/welshJurisdictionLookup.json
Due: none

Updated RCJ welsh text and removed duplicated welsh text in King's Bench Division list
  src/main/resources/locales/cy/civil-courts-rcj-daily-cause-list.json
  src/main/resources/locales/cy/county-court-london-civil-daily-cause-list.json
  src/main/resources/locales/cy/court-of-appeal-criminal-daily-cause-list.json
  src/main/resources/locales/cy/family-division-high-court-daily-cause-list.json
  src/main/resources/locales/cy/kings-bench-division-daily-cause-list.json
  src/main/resources/locales/cy/kings-bench-masters-daily-cause-list.json
  src/main/resources/locales/cy/london-administrative-court-daily-cause-list.json
  src/main/resources/locales/cy/planning-court-daily-cause-list.json
  src/main/resources/locales/cy/senior-courts-costs-office-daily-cause-list.json
Due: none

Updated welsh text
  src/main/resources/locales/cy/court-of-appeal-civil-daily-cause-list.json
Due: none

style fix
  src/test/unit/views/style-guide/admiralty-court-kb-daily-cause-list.test.ts
  src/test/unit/views/style-guide/business-list-chd-daily-cause-list.test.ts
  src/test/unit/views/style-guide/chancery-appeals-chd-daily-cause-list.test.ts
  src/test/unit/views/style-guide/commercial-court-kb-daily-cause-list.test.ts
  src/test/unit/views/style-guide/companies-winding-up-chd-daily-cause-list.test.ts
  src/test/unit/views/style-guide/competition-list-chd-daily-cause-list.test.ts
  src/test/unit/views/style-guide/financial-list-chd-kb-daily-cause-list.test.ts
  src/test/unit/views/style-guide/insolvency-and-companies-court-chd-daily-cause-list.test.ts
  src/test/unit/views/subscription-configure-list.test.ts
Due: eslint, prettier

Update missing welsh
  src/main/resources/locales/cy/admiralty-court-kb-daily-cause-list.json
Due: none

fix build
  yarn-audit-known-issues
Due: none

Update venue information and table header casing
  src/main/resources/locales/cy/interim-applications-chd-daily-cause-list.json
  src/main/resources/locales/en/interim-applications-chd-daily-cause-list.json
Due: none

Add route test
  src/test/routes/style-guide/interim-applications-chd-daily-cause-list.test.ts
Due: eslint, prettier

Add a11y test
  src/test/a11y/tests/style-guide/interim-applications-chd-daily-cause-list.test.ts
Due: eslint, prettier

Change hearingType to type
  src/main/views/style-guide/interim-applications-chd-daily-cause-list.njk
  src/test/unit/mocks/interimApplicationsChanceryDivisionDailyCauseList.json
Due: none

Update test
  src/test/unit/views/style-guide/interim-applications-chd-daily-cause-list.test.ts
Due: eslint, prettier

Update suppressions
  yarn-audit-known-issues
Due: none

Update text on home page
  src/main/resources/locales/cy/home.json
  src/main/resources/locales/en/home.json
  src/test/end-to-end/tests/unverified-user-end-to-end-journey-test.ts
  src/test/unit/views/home.test.ts
Due: eslint, prettier

PUB-2872 - Added validate on artefact ID
  src/main/controllers/system-admin/BlobViewJsonController.ts
  src/test/unit/controllers/system-admin/BlobViewJsonController.test.ts
Due: eslint, prettier

PUB-2872 - Fixed fortify issue
  src/main/controllers/system-admin/BlobViewJsonController.ts
  src/test/unit/controllers/system-admin/BlobViewJsonController.test.ts
Due: eslint, prettier

PUB-2872 - Updated known issues
  yarn-audit-known-issues
Due: none
