Repository hmcts/pip-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-push:
    scripts:
        'check-for-unsuppressed-vulns.py':
            runner: python3
        commands:
            audit:
                run: yarn audit | cat
pre-commit:
    parallel: true
    commands:
        eslint:
            glob: '*.{js,ts,jsx,tsx}'
            run: yarn eslint --fix {staged_files}
        prettier:
            glob: '*.{js,ts,jsx,tsx, md, yaml, yml, mdx, json}'
            run: yarn prettier --write {staged_files}
        stylelint:
            glob: '**/*.scss'
            run: yarn stylelint {staged_files}

Update known issues
  yarn-audit-known-issues
Due: none

Add Planning Court in London Administrative Court
  src/main/resources/locales/cy/london-administrative-court-daily-cause-list.json
  src/main/resources/locales/en/london-administrative-court-daily-cause-list.json
  src/main/views/style-guide/london-administrative-court-daily-cause-list.njk
  src/test/unit/mocks/londonAdministrativeCourtDailyCauseList.json
  src/test/unit/views/style-guide/london-administrative-court-daily-cause-list.test.ts
Due: eslint, prettier

fix style
  src/test/unit/views/style-guide/london-administrative-court-daily-cause-list.test.ts
Due: eslint, prettier

PUB-2922 - Updated open justice statement
  src/main/resources/locales/cy/county-court-london-civil-daily-cause-list.json
  src/main/resources/locales/cy/mayor-and-city-civil-daily-cause-list.json
  src/main/resources/locales/en/county-court-london-civil-daily-cause-list.json
  src/main/resources/locales/en/mayor-and-city-civil-daily-cause-list.json
  src/main/views/style-guide/county-court-london-civil-daily-cause-list.njk
  src/main/views/style-guide/mayor-and-city-civil-daily-cause-list.njk
  src/test/unit/views/style-guide/county-court-london-civil-daily-cause-list.test.ts
  src/test/unit/views/style-guide/mayor-and-city-civil-daily-cause-list.test.ts
Due: eslint, prettier

PUB-2922 - Styling
  src/test/unit/views/style-guide/county-court-london-civil-daily-cause-list.test.ts
  src/test/unit/views/style-guide/mayor-and-city-civil-daily-cause-list.test.ts
Due: eslint, prettier

PUB-2922 - Added suppression
  yarn-audit-known-issues
Due: none

PUB-2873 - Updated suppression
  yarn-audit-known-issues
Due: none

fix sheet name
  src/main/views/style-guide/london-administrative-court-daily-cause-list.njk
Due: none

fix unit test
  src/test/unit/mocks/londonAdministrativeCourtDailyCauseList.json
Due: none

Pub 2873 (#1489)
  package.json
  src/test/end-to-end/crossbrowser.conf.ts
  yarn-audit-known-issues
  yarn.lock
Due: eslint, prettier

Added suppression
  yarn-audit-known-issues
Due: none

Added suppression (#1493)
  yarn-audit-known-issues
Due: none

Update end-to-end test support file
  src/test/end-to-end/shared/testingSupportApi.ts
Due: eslint, prettier

Changed this.see to this.waitfortext in custom-steps
  src/test/end-to-end/tests/custom-steps.ts
Due: eslint, prettier

Pub 2873 (#1494)
  src/test/end-to-end/tests/custom-steps.ts
Due: eslint, prettier

Merge schema changes to UT IAC London list from PUB-2835
  src/main/resources/locales/cy/ut-iac-jr-london-daily-hearing-list.json
  src/main/resources/locales/en/ut-iac-jr-london-daily-hearing-list.json
  src/main/views/style-guide/ut-iac-jr-london-daily-hearing-list.njk
  src/test/unit/mocks/utIacJudicialReviewLondonDailyHearingList.json
  src/test/unit/views/style-guide/ut-iac-jr-london-daily-hearing-list.test.ts
Due: eslint, prettier

Update styling in new GOV.UK frontend
  package.json
  src/main/assets/scss/main.scss
  src/main/modules/nunjucks/index.ts
  src/main/views/macros/common-components.njk
  src/main/views/template.njk
  webpack/govukFrontend.js
  yarn.lock
Due: eslint, prettier, stylelint

Fixed accessibility test issue
  src/main/views/template.njk
Due: none

Test accessibility
  src/main/views/template.njk
Due: none

Try fixing accessibility issue
  src/main/views/template.njk
Due: none

Remove list type from cache after location subscription is removed.
  src/main/controllers/PendingSubscriptionsController.ts
  src/main/controllers/SubscriptionConfirmationPreviewController.ts
  src/main/service/SubscriptionService.ts
  src/test/unit/controllers/SubscriptionConfigureListPreviewController.test.ts
  src/test/unit/controllers/SubscriptionConfirmationPreviewController.test.ts
  src/test/unit/service/SubscriptionService.test.ts
Due: eslint, prettier

Fixed failing unit test
  src/test/unit/controllers/PendingSubscriptionsController.test.ts
Due: eslint, prettier

PUB-2922 - Open Justice Statement (#1491)
  src/main/resources/locales/cy/county-court-london-civil-daily-cause-list.json
  src/main/resources/locales/cy/mayor-and-city-civil-daily-cause-list.json
  src/main/resources/locales/en/county-court-london-civil-daily-cause-list.json
  src/main/resources/locales/en/mayor-and-city-civil-daily-cause-list.json
  src/main/views/style-guide/county-court-london-civil-daily-cause-list.njk
  src/main/views/style-guide/mayor-and-city-civil-daily-cause-list.njk
  src/test/unit/views/style-guide/county-court-london-civil-daily-cause-list.test.ts
  src/test/unit/views/style-guide/mayor-and-city-civil-daily-cause-list.test.ts
Due: eslint, prettier

PUB-2878 - Updated monthly dependencies
  package.json
  src/test/unit/middlewares/fileErrorHandler.middleware.test.ts
  yarn-audit-known-issues
  yarn.lock
Due: eslint, prettier

PUB-2878 - Updated yarn.lock
  yarn.lock
Due: none

PUB-2878 - Updated yarn
  .yarn/releases/yarn-4.7.0.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
  src/test/fortify/build.gradle
  src/test/fortify/gradle/wrapper/gradle-wrapper.jar
  src/test/fortify/gradle/wrapper/gradle-wrapper.properties
  src/test/fortify/gradlew
  src/test/fortify/gradlew.bat
Due: none

PUB-2878 - Updated CSS
  src/main/assets/scss/main.scss
Due: stylelint

Show caution message when there is no list
  src/main/views/summary-of-publications.njk
  src/test/unit/views/summary-of-publications.test.ts
Due: eslint, prettier

PUB-2917 Add Planning Court in London Administrative Court (#1492)
  src/main/resources/locales/cy/london-administrative-court-daily-cause-list.json
  src/main/resources/locales/en/london-administrative-court-daily-cause-list.json
  src/main/views/style-guide/london-administrative-court-daily-cause-list.njk
  src/test/unit/mocks/londonAdministrativeCourtDailyCauseList.json
  src/test/unit/views/style-guide/london-administrative-court-daily-cause-list.test.ts
Due: eslint, prettier

PUB-2906 Update important information for Family Division High Court Daily Cause List (#1490)
  src/main/resources/locales/cy/family-division-high-court-daily-cause-list.json
  src/main/resources/locales/en/family-division-high-court-daily-cause-list.json
  src/main/views/style-guide/family-division-high-court-daily-cause-list.njk
Due: none

PUB-2845 Alphabetical sorting of hearing lists on summary of publications page (#1488)
  src/main/controllers/SummaryOfPublicationsController.ts
  src/main/resources/locales/cy/summary-of-publications.json
  src/main/resources/locales/en/summary-of-publications.json
  src/main/views/summary-of-publications.njk
  src/test/a11y/tests/public-routes.test.ts
  src/test/routes/summary-of-publications.test.ts
  src/test/unit/controllers/SummaryOfPublicationsController.test.ts
  src/test/unit/views/publication.test.ts
  src/test/unit/views/summary-of-publications.test.ts
Due: eslint, prettier

Added functional test for Syestem admin- manage location metadata
  src/test/end-to-end/tests/system-admin/manage-location-metadata-test.ts
Due: eslint, prettier

Update font size for no list message to be consistent
  src/main/views/summary-of-publications.njk
Due: none

Update address for Senior Courts Costs Office Daily Cause List
  src/main/resources/locales/cy/senior-courts-costs-office-daily-cause-list.json
  src/main/resources/locales/en/senior-courts-costs-office-daily-cause-list.json
  src/main/views/style-guide/senior-courts-costs-office-daily-cause-list.njk
  src/test/unit/views/style-guide/senior-courts-costs-office-daily-cause-list.test.ts
Due: eslint, prettier

Add RCJ to CaTH interstitial page
  src/main/resources/locales/cy/home.json
  src/main/resources/locales/en/home.json
  src/test/end-to-end/tests/unverified-user-end-to-end-journey-test.ts
  src/test/unit/views/home.test.ts
Due: eslint, prettier

PUB-2883 - Update UTIAC (JR) - Daily hearing list Schema (Manchester, Birmingham and Cardiff) (#1486)
  src/main/resources/listLookup.json
  src/main/resources/locales/cy/ut-iac-jr-cardiff-daily-hearing-list.json
  src/main/resources/locales/cy/ut-iac-jr-leeds-daily-hearing-list.json
  src/main/resources/locales/cy/ut-iac-jr-london-daily-hearing-list.json
  src/main/resources/locales/cy/ut-iac-judicial-review-daily-hearing-list.json
  src/main/resources/locales/en/ut-iac-jr-cardiff-daily-hearing-list.json
  src/main/resources/locales/en/ut-iac-jr-leeds-daily-hearing-list.json
  src/main/resources/locales/en/ut-iac-judicial-review-daily-hearing-list.json
  src/main/routes/routes.ts
  src/main/views/style-guide/ut-iac-jr-london-daily-hearing-list.njk
  src/test/a11y/tests/style-guide/ut-iac-judicial-review-daily-hearing-list.test.ts
  src/test/routes/style-guide/ut-iac-judicial-review-daily-hearing-list.test.ts
  src/test/unit/mocks/utIacJudicialReviewDailyHearingList.json
  src/test/unit/mocks/utIacJudicialReviewLondonDailyHearingList.json
  src/test/unit/service/ManualUploadService.test.ts
  src/test/unit/service/PublicationService.test.ts
  src/test/unit/views/style-guide/ut-iac-jr-london-daily-hearing-list.test.ts
Due: eslint, prettier
