Repository hmcts/pip-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint

eslint:
  run: yarn eslint --fix {staged_files}

prettier:
  run: yarn prettier --write {staged_files}

stylelint:
  run: yarn stylelint {staged_files}

PUB-3147 - Ability to suspend third party licence (#1634)
  src/main/controllers/system-admin/ManageThirdPartySubscriberStatusController.ts
  src/main/controllers/system-admin/ManageThirdPartySubscriberStatusSuccessController.ts
  src/main/resources/locales/cy/manage-third-party-subscriber-status-success.json
  src/main/resources/locales/cy/manage-third-party-subscriber-status.json
  src/main/resources/locales/cy/manage-third-party-subscribers-view.json
  src/main/resources/locales/en/manage-third-party-subscriber-status-success.json
  src/main/resources/locales/en/manage-third-party-subscriber-status.json
  src/main/resources/locales/en/manage-third-party-subscribers-view.json
  src/main/resources/requests/ThirdPartyRequests.ts
  src/main/routes/routes.ts
  src/main/service/ThirdPartyService.ts
  src/main/views/system-admin/manage-third-party-subscriber-status-success.njk
  src/main/views/system-admin/manage-third-party-subscriber-status.njk
  src/main/views/system-admin/manage-third-party-subscribers-view.njk
  src/test/a11y/tests/system-admin-routes.test.ts
  src/test/routes/system-admin/manage-third-party-subscriber-status-success.test.ts
  src/test/routes/system-admin/manage-third-party-subscriber-status.test.ts
  src/test/routes/system-admin/manage-third-party-subscribers-view.test.ts
  src/test/unit/controllers/system-admin/ManageThirdPartySubscriberStatusController.test.ts
  src/test/unit/controllers/system-admin/ManageThirdPartySubscriberStatusSuccessController.test.ts
  src/test/unit/requests/thirdPartyRequests.test.ts
  src/test/unit/service/ThirdPartyService.test.ts
  src/test/unit/views/system-admin/manage-third-party-subscriber-status-success.test.ts
  src/test/unit/views/system-admin/manage-third-party-subscriber-status.test.ts
  src/test/unit/views/system-admin/manage-third-party-subscribes-view.test.ts
Due: eslint, prettier

PUB-3175 - Updated default sensitivity (#1644)
  src/main/resources/listLookup.json
Due: none

PUB-3166 - Fix App Insights (#1629)
  src/main/app.ts
  src/main/server.ts
Due: eslint, prettier

Update casing for OAuth
  src/main/resources/locales/cy/manage-third-party-subscriber-oauth-config-summary.json
  src/main/resources/locales/cy/manage-third-party-subscriber-oauth-config.json
  src/main/resources/locales/en/manage-third-party-subscriber-oauth-config-summary.json
  src/main/resources/locales/en/manage-third-party-subscriber-oauth-config.json
  src/test/unit/requests/thirdPartyRequests.test.ts
  src/test/unit/views/system-admin/manage-third-party-subscriber-oauth-config.test.ts
Due: eslint, prettier

Add participation consent message to sign in page
  src/main/resources/locales/cy/sign-in.json
  src/main/resources/locales/en/sign-in.json
  src/main/views/sign-in.njk
  src/test/unit/views/sign-in.test.ts
Due: eslint, prettier

Suppress vuln
  yarn-audit-known-issues
Due: none

Add hearing time to Crown Daily List and Firm List
  src/main/resources/locales/cy/crown-daily-pdda-list.json
  src/main/resources/locales/cy/crown-firm-pdda-list.json
  src/main/resources/locales/en/crown-daily-pdda-list.json
  src/main/resources/locales/en/crown-firm-pdda-list.json
  src/main/service/listManipulation/CrownPddaListService.ts
  src/main/views/style-guide/crown-daily-pdda-list.njk
  src/main/views/style-guide/crown-firm-pdda-list.njk
  src/test/unit/service/listManipulation/CrownPddaListService.test.ts
  src/test/unit/views/style-guide/crown-daily-pdda-list.test.ts
  src/test/unit/views/style-guide/crown-firm-pdda-list.test.ts
Due: eslint, prettier

Fixed failing unit test
  src/test/unit/mocks/crownDailyPddaList.json
  src/test/unit/mocks/crownFirmPddaList.json
  src/test/unit/service/listManipulation/CrownPddaListService.test.ts
Due: eslint, prettier

PUB-3185 Add hearing time to Crown Daily List and Firm List (#1646)
  src/main/resources/locales/cy/crown-daily-pdda-list.json
  src/main/resources/locales/cy/crown-firm-pdda-list.json
  src/main/resources/locales/en/crown-daily-pdda-list.json
  src/main/resources/locales/en/crown-firm-pdda-list.json
  src/main/service/listManipulation/CrownPddaListService.ts
  src/main/views/style-guide/crown-daily-pdda-list.njk
  src/main/views/style-guide/crown-firm-pdda-list.njk
  src/test/unit/mocks/crownDailyPddaList.json
  src/test/unit/mocks/crownFirmPddaList.json
  src/test/unit/service/listManipulation/CrownPddaListService.test.ts
  src/test/unit/views/style-guide/crown-daily-pdda-list.test.ts
  src/test/unit/views/style-guide/crown-firm-pdda-list.test.ts
  yarn-audit-known-issues
Due: eslint, prettier

fix build
  package.json
  yarn.lock
Due: none

Update missing Welsh translations
  src/main/resources/locales/cy/magistrates-public-list.json
  src/main/resources/locales/cy/magistrates-standard-list.json
Due: none

Update suppressions
  yarn-audit-known-issues
Due: none

PUB-3172 Update accessibility statement (#1640)
  src/main/resources/locales/cy/accessibility-statement.json
  src/main/resources/locales/en/accessibility-statement.json
Due: none

PUB-3173 - Update Mags Lists Style Guides (#1641)
  src/main/resources/locales/cy/magistrates-public-list.json
  src/main/resources/locales/cy/magistrates-standard-list.json
  src/main/resources/locales/en/magistrates-public-list.json
  src/main/resources/locales/en/magistrates-standard-list.json
  src/main/service/ListParseHelperService.ts
  src/main/service/listManipulation/MagistratesStandardListService.ts
  src/main/views/style-guide/magistrates-public-list.njk
  src/main/views/style-guide/magistrates-standard-list.njk
  src/test/unit/mocks/magistratesPublicList.json
  src/test/unit/mocks/magistratesStandardList.json
  src/test/unit/service/listManipulation/MagistratesStandardListService.test.ts
  src/test/unit/views/style-guide/magistrates-public-list.test.ts
  src/test/unit/views/style-guide/magistrates-standard-list.test.ts
Due: eslint, prettier

Update interstitial page
  src/main/resources/locales/cy/home.json
  src/main/resources/locales/en/home.json
  src/main/views/home.njk
  src/test/end-to-end/tests/unverified-user-end-to-end-journey-test.ts
  src/test/unit/views/home.test.ts
Due: eslint, prettier

Update suppression
  yarn-audit-known-issues
Due: none

Added new functional test to check the third party user connection and changing user status.
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/test/config.ts
  src/test/end-to-end/tests/system-admin/manage-third-party-subscribers.ts
Due: eslint, prettier

PUB-3191 Update interstitial page (#1647)
  src/main/resources/locales/cy/home.json
  src/main/resources/locales/en/home.json
  src/main/views/home.njk
  src/test/end-to-end/tests/unverified-user-end-to-end-journey-test.ts
  src/test/unit/views/home.test.ts
  yarn-audit-known-issues
Due: eslint, prettier

Add participation consent message to sign in page
  yarn-audit-known-issues
Due: none

Suppress security vuln (#1648)
  yarn-audit-known-issues
Due: none

Update logic to determine main defendant for case and application
  src/main/service/listManipulation/MagistratesPublicListService.ts
  src/main/service/listManipulation/MagistratesStandardListService.ts
  src/test/unit/mocks/magistratesPublicList.json
  src/test/unit/mocks/magistratesStandardList.json
Due: eslint, prettier

Update test cases
  src/test/unit/mocks/magistratesPublicList.json
  src/test/unit/mocks/magistratesStandardList.json
  src/test/unit/service/listManipulation/MagistratesPublicListService.test.ts
  src/test/unit/service/listManipulation/MagistratesStandardListService.test.ts
  src/test/unit/views/style-guide/magistrates-public-list.test.ts
Due: eslint, prettier

PUB-3111 Add retry for ECONNABORTED timeout error (#1637)
  package.json
  src/main/resources/requests/utils/axiosConfig.ts
  src/test/unit/resources/requests/utils/axiosConfig.test.ts
  src/test/unit/resources/requests/utils/axiosConfigTest.ts
  yarn.lock
Due: eslint, prettier

update to use hmctsprod acr
  Dockerfile
  charts/pip-frontend/Chart.yaml
  charts/pip-frontend/values.yaml
  docker-compose.yml
Due: none

Bumping chart version/ fixing aliases
  charts/pip-frontend/Chart.yaml
Due: none

Update Magistrates Standard List heading with sitting time
  src/main/assets/scss/main.scss
  src/main/resources/locales/cy/magistrates-standard-list.json
  src/main/resources/locales/en/magistrates-standard-list.json
  src/main/service/listManipulation/MagistratesStandardListService.ts
  src/main/views/style-guide/magistrates-standard-list.njk
  src/test/unit/service/listManipulation/MagistratesStandardListService.test.ts
  src/test/unit/views/style-guide/magistrates-standard-list.test.ts
Due: eslint, prettier, stylelint

PUB-3192 Update logic to determine main defendant for case and application (#1649)
  src/main/service/listManipulation/MagistratesPublicListService.ts
  src/main/service/listManipulation/MagistratesStandardListService.ts
  src/test/unit/mocks/magistratesPublicList.json
  src/test/unit/mocks/magistratesStandardList.json
  src/test/unit/service/listManipulation/MagistratesPublicListService.test.ts
  src/test/unit/service/listManipulation/MagistratesStandardListService.test.ts
  src/test/unit/views/style-guide/magistrates-public-list.test.ts
Due: eslint, prettier

PUB-3146 - Dynatrace Fix (#1631)
  README.md
  src/main/bundles/cookie-preferences.ts
  src/main/modules/nunjucks/index.ts
  src/main/views/template.njk
Due: eslint, prettier

PUB-3124 Add participation consent message to sign in page (#1645)
  src/main/resources/locales/cy/sign-in.json
  src/main/resources/locales/en/sign-in.json
  src/main/views/sign-in.njk
  src/test/unit/views/sign-in.test.ts
  yarn-audit-known-issues
Due: eslint, prettier

Check for organisation details before individual
  src/main/service/listManipulation/MagistratesStandardListService.ts
  src/test/unit/mocks/magistratesStandardList.json
Due: eslint, prettier

Make informant non-mandatory
  src/main/service/listManipulation/MagistratesAdultCourtListService.ts
  src/test/unit/mocks/magistratesAdultCourtList.json
Due: eslint, prettier

add additional test
  src/test/unit/views/style-guide/magistrates-adult-court-list.test.ts
Due: eslint, prettier

Dependency updates
  package.json
  yarn.lock
Due: none

Dependency updates
  .nvmrc
  package.json
  yarn.lock
Due: none

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx, md, yaml, yml, mdx, json}
  stylelint: any of: **/*.scss
