Repository hmcts/pip-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint

eslint:
  run: yarn eslint --fix {staged_files}

prettier:
  run: yarn prettier --write {staged_files}

stylelint:
  run: yarn stylelint {staged_files}

fix yarn file
  yarn-audit-known-issues
Due: none

Update pages with A-Z
  src/main/resources/locales/cy/alphabetical-search.json
  src/main/resources/locales/cy/location-name-search.json
  src/main/resources/locales/cy/subscription-configure-list.json
  src/main/resources/locales/en/alphabetical-search.json
  src/main/resources/locales/en/location-name-search.json
  src/main/resources/locales/en/subscription-configure-list.json
  src/main/views/alphabetical-search.njk
  src/main/views/location-name-search.njk
  src/main/views/subscription-configure-list.njk
Due: none

Removed failing unit tests for A-Z letters
  src/test/unit/views/alphabetical-search.test.ts
  src/test/unit/views/location-name-search.test.ts
  src/test/unit/views/subscription-configure-list.test.ts
Due: eslint, prettier

Update A-Z functional test
  src/test/end-to-end/tests/a-z-list-courts-and-tribunals-test.ts
Due: eslint, prettier

fix unit test
  src/test/unit/views/subscription-add-list-language.test.ts
Due: eslint, prettier

fix unit test
  src/main/controllers/SubscriptionAddListController.ts
  src/main/controllers/SubscriptionConfigureListController.ts
  src/test/unit/controllers/SubscriptionAddListController.test.ts
  src/test/unit/controllers/SubscriptionConfigureListController.test.ts
Due: eslint, prettier

PUB-2617 - Fixing session issue
  README.md
  charts/pip-frontend/values.yaml
  config/default.json
  jestEnvVars.js
  src/main/app.ts
Due: eslint, prettier

Bumping chart version/ fixing aliases
  charts/pip-frontend/Chart.yaml
Due: none

fix back to top above footer
  src/main/assets/scss/main.scss
Due: stylelint

PUB-2587 Update test files to conform to date field validation in schema (#1362)
  src/test/end-to-end/shared/mocks/civilAndFamilyDailyCauseList.json
  src/test/unit/mocks/civilAndFamilyDailyCauseList.json
  src/test/unit/mocks/crownDailyList.json
  src/test/unit/mocks/crownWarnedList.json
  src/test/unit/mocks/dailyCauseList.json
  src/test/unit/mocks/familyDailyCauseList.json
  src/test/unit/mocks/familyDailyCauseListPartyMapping.json
  src/test/unit/mocks/familyDailyCauseListWithReorderedPartyMappings.json
Due: none

PUB-2617 - Updated Session Fix
  src/main/app.ts
Due: eslint, prettier

PUB-2617 - Session Fix Old
  charts/pip-frontend/values.yaml
  config/default.json
  src/main/app.ts
Due: eslint, prettier

PUB-2617 - Session fix
  README.md
  charts/pip-frontend/values.yaml
  jestEnvVars.js
  src/main/app.ts
Due: eslint, prettier

fix build
  src/main/authentication/crimeIdamAuthentication.ts
  src/test/unit/authentication/crimeIdamAuthentication.test.ts
Due: eslint, prettier

skip crime e2e tests
  src/test/end-to-end/tests/login-test.ts
Due: eslint, prettier

skip crime e2e tests
  src/test/end-to-end/tests/banner-navigation-test.ts
Due: eslint, prettier

fix bug
  src/main/controllers/CrimeLoginController.ts
Due: eslint, prettier

fix style
  src/main/controllers/CrimeLoginController.ts
Due: eslint, prettier

PUB-2326 - Updated Helmet config
  package.json
  src/main/assets/scss/main.scss
  src/main/controllers/system-admin/BlobViewJsonController.ts
  src/main/modules/helmet/index.ts
  src/main/resources/locales/cy/template.json
  src/main/resources/locales/en/template.json
  src/main/views/alphabetical-search.njk
  src/main/views/bulk-unsubscribe.njk
  src/main/views/location-name-search.njk
  src/main/views/macros/common-components.njk
  src/main/views/macros/sjp-common.njk
  src/main/views/subscription-configure-list.njk
  src/main/views/system-admin/blob-view-json.njk
  src/main/views/system-admin/manage-third-party-users-subscriptions.njk
  src/main/views/template.njk
  src/test/a11y/common/excludedRoutes.ts
  src/test/unit/views/system-admin/blob-view-json.test.ts
Due: eslint, prettier, stylelint

PUB-2326 - Updated linting
  src/main/controllers/system-admin/BlobViewJsonController.ts
  src/main/modules/helmet/index.ts
  src/test/unit/views/system-admin/blob-view-json.test.ts
Due: eslint, prettier

Fixed overlapping in safari browser
  src/main/views/macros/sjp-common.njk
  src/main/views/style-guide/single-justice-procedure-press.njk
  src/main/views/style-guide/single-justice-procedure.njk
Due: none

Removed parties at hearing level (#1359)
  src/main/controllers/style-guide/DailyCauseListController.ts
  src/main/helpers/listHelper.ts
  src/main/service/listManipulation/CivilFamilyAndMixedListService.ts
  src/main/service/listManipulation/SscsDailyListService.ts
  src/main/views/style-guide/civil-and-family-daily-cause-list.njk
  src/main/views/style-guide/family-daily-cause-list.njk
  src/main/views/style-guide/sscs-daily-list.njk
  src/test/unit/controllers/style-guide/DailyCauseListController.test.ts
  src/test/unit/controllers/style-guide/hearingparty/DailyCauseListController.test.ts
  src/test/unit/controllers/style-guide/hearingparty/SscsDailyListController.test.ts
  src/test/unit/helpers/listHelper.test.ts
  src/test/unit/mocks/hearingparty/civilAndFamilyDailyCauseList.json
  src/test/unit/mocks/hearingparty/familyDailyCauseList.json
  src/test/unit/mocks/hearingparty/familyDailyCauseListPartyMapping.json
  src/test/unit/mocks/hearingparty/familyDailyCauseListWithReorderedPartyMappings.json
  src/test/unit/mocks/hearingparty/sscsDailyList.json
  src/test/unit/service/listManipulation/hearingparty/CivilFamilyAndMixedListService.test.ts
  src/test/unit/service/listManipulation/hearingparty/SscsListService.test.ts
  src/test/unit/views/style-guide/hearingparty/civil-and-family-daily-cause-list.test.ts
  src/test/unit/views/style-guide/hearingparty/family-daily-cause-list.test.ts
  src/test/unit/views/style-guide/hearingparty/sscs-daily-list-test.ts
Due: eslint, prettier

PUB-2336 - Updated webpack bundling
  src/main/app.ts
  src/main/modules/helmet/index.ts
  src/main/views/webpack/js-template.njk
  src/main/views/webpack/js.njk
  webpack/htmlWebpack.js
Due: eslint, prettier

PUB-2326 - Formatting
  src/main/modules/helmet/index.ts
Due: eslint, prettier

PUB-2326 - Updated tests
  src/main/controllers/system-admin/BlobViewJsonController.ts
  src/main/views/system-admin/blob-view-json.njk
  src/test/unit/controllers/system-admin/BlobViewJsonController.test.ts
  src/test/unit/views/system-admin/delete-court-reference-data.test.ts
Due: eslint, prettier

PUB-2326 - Updated helmet and blob view test
  src/main/modules/helmet/index.ts
  src/test/unit/controllers/system-admin/BlobViewJsonController.test.ts
Due: eslint, prettier

fix back to top on different pages
  src/main/assets/scss/main.scss
  src/main/views/admin/admin-dashboard.njk
  src/main/views/alphabetical-search.njk
  src/main/views/home.njk
  src/main/views/location-name-search.njk
  src/main/views/style-guide/single-justice-procedure-press.njk
  src/main/views/style-guide/single-justice-procedure.njk
  src/main/views/summary-of-publications.njk
  src/main/views/system-admin/system-admin-dashboard.njk
Due: stylelint

fix a11y test
  src/main/views/alphabetical-search.njk
Due: none

PUB-2326 - Fixed language button
  src/main/resources/locales/cy/template.json
  src/main/resources/locales/en/template.json
  src/main/views/cancelled-password-reset.njk
  src/main/views/macros/common-components.njk
  src/main/views/password-change-confirmation.njk
  src/main/views/template.njk
  src/test/unit/views/admin/remove-list-search.test.ts
  src/test/unit/views/search.test.ts
  src/test/unit/views/system-admin/delete-court-reference-data.test.ts
Due: eslint, prettier

fix bug for e2e tests
  src/main/service/LocationService.ts
  src/main/service/SubscriptionService.ts
Due: eslint, prettier

Reduce pixel value to stop the panels from touching
  src/main/assets/scss/main.scss
Due: stylelint

PUB-2616 Update pages with A-Z (#1364)
  src/main/resources/locales/cy/alphabetical-search.json
  src/main/resources/locales/cy/location-name-search.json
  src/main/resources/locales/cy/subscription-configure-list.json
  src/main/resources/locales/en/alphabetical-search.json
  src/main/resources/locales/en/location-name-search.json
  src/main/resources/locales/en/subscription-configure-list.json
  src/main/views/alphabetical-search.njk
  src/main/views/location-name-search.njk
  src/main/views/subscription-configure-list.njk
  src/test/end-to-end/tests/a-z-list-courts-and-tribunals-test.ts
  src/test/unit/views/alphabetical-search.test.ts
  src/test/unit/views/location-name-search.test.ts
  src/test/unit/views/subscription-configure-list.test.ts
Due: eslint, prettier

Modified functional tests according to Subscription-List-type change
  src/test/end-to-end/tests/verified/email-subscriptions-test.ts
Due: eslint, prettier

fix bug
  src/main/controllers/SessionExpiringController.ts
  src/main/service/SessionManagementService.ts
Due: eslint, prettier

PUB-2595 - Updated hearing type
  src/main/resources/locales/en/magistrates-standard-list.json
Due: none

fixed welsh error message
  src/main/resources/locales/cy/subscription-configure-list.json
Due: none

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx, md, yaml, yml, mdx, json}
  stylelint: any of: **/*.scss
