Repository hmcts/pip-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-push:
    scripts:
        'check-for-unsuppressed-vulns.py':
            runner: python3
        commands:
            audit:
                run: yarn audit | cat
pre-commit:
    parallel: true
    commands:
        eslint:
            glob: '*.{js,ts,jsx,tsx}'
            run: yarn eslint --fix {staged_files}
        prettier:
            glob: '*.{js,ts,jsx,tsx, md, yaml, yml, mdx, json}'
            run: yarn prettier --write {staged_files}
        stylelint:
            glob: '**/*.scss'
            run: yarn stylelint {staged_files}

Revert "fix build"
  yarn-audit-known-issue
Due: none

PUB-3225 Fix Fortify Issues (#1671)
  src/main/controllers/system-admin/ManageThirdPartySubscriptionsController.ts
  src/main/service/ThirdPartyService.ts
  src/test/routes/system-admin/manage-third-party-subscriptions.test.ts
  src/test/unit/controllers/system-admin/ManageThirdPartySubscriptionsController.test.ts
  src/test/unit/service/ThirdPartyService.test.ts
  yarn-audit-known-issues
Due: eslint, prettier

fix build
  yarn-audit-known-issues
Due: none

PUB-3224 Revert "PUB-3207: Magistrate lists and survey link" (#1669)
  src/main/resources/locales/cy/home.json
  src/main/resources/locales/cy/summary-of-publications.json
  src/main/resources/locales/en/home.json
  src/main/resources/locales/en/summary-of-publications.json
  src/main/views/home.njk
  src/main/views/summary-of-publications.njk
  src/test/unit/views/home.test.ts
  src/test/unit/views/summary-of-publications.test.ts
  yarn-audit-known-issues
Due: eslint, prettier

upgrade govuk and moj frontend
  package.json
  src/main/app.ts
  src/main/assets/scss/main.scss
  src/main/modules/nunjucks/index.ts
  src/main/views/macros/common-components.njk
  src/main/views/template.njk
  webpack/govukFrontend.js
  webpack/scss.js
  yarn.lock
Due: eslint, prettier, stylelint

modify A-Z filter (#1670)
  src/main/assets/scss/main.scss
  src/main/views/alphabetical-search.njk
Due: stylelint

investigate b2c on demo env
  src/main/routes/routes.ts
Due: eslint, prettier

Hide list types from subscription and upload user journeys
  src/main/helpers/consts.ts
  src/main/service/ManualUploadService.ts
  src/main/service/SubscriptionService.ts
Due: eslint, prettier

Hide list types from subscription and upload user journeys
  src/main/helpers/consts.ts
Due: eslint, prettier

Update tests
  src/test/unit/service/ManualUploadService.test.ts
  src/test/unit/service/SubscriptionService.test.ts
  src/test/unit/views/subscription-configure-list.test.ts
Due: eslint, prettier

Update known issues
  yarn-audit-known-issues
Due: none

testing b2c errors
  src/main/routes/routes.ts
Due: eslint, prettier

Merge branch 'master' into PUB-3203
  src/main/assets/scss/main.scss
  src/main/views/alphabetical-search.njk
Due: stylelint

suppress yarn issues
  yarn-audit-known-issues
Due: none

Undo changes to hide SJP_PRESS_REGISTER, this list type has been removed from the ticket
  src/main/helpers/consts.ts
  src/test/unit/service/ManualUploadService.test.ts
  src/test/unit/service/SubscriptionService.test.ts
  src/test/unit/views/subscription-configure-list.test.ts
Due: eslint, prettier

Undo changes to hide SJP_PRESS_REGISTER as this list type has been removed from the ticket
  src/main/helpers/consts.ts
Due: eslint, prettier

Pub-3229: Adding hints to subscription-add radio buttons
  src/main/resources/locales/cy/subscription-add.json
  src/main/resources/locales/en/subscription-add.json
  src/main/views/subscription-add.njk
  src/test/unit/views/subscription-add.test.ts
Due: eslint, prettier

Move hidden lists to a flag on listLookup
  src/main/helpers/consts.ts
  src/main/models/ListType.ts
  src/main/resources/listLookup.json
  src/main/service/ManualUploadService.ts
  src/main/service/SubscriptionService.ts
Due: eslint, prettier

Update known issues
  src/test/unit/views/subscription-add.test.ts
  yarn-audit-known-issues
Due: eslint, prettier

Adding missing unit test
  src/test/unit/views/subscription-add.test.ts
Due: eslint, prettier

suppress yarn known issues
  yarn-audit-known-issues
Due: none

PUB-3213: Add links to CaTH footer (#1666)
  src/main/views/template.njk
Due: none

Fix master build
  yarn-audit-known-issues
Due: none

Updating known issues
  yarn-audit-known-issues
Due: none

Fix master build (#1678)
  yarn-audit-known-issues
Due: none

PUB-2902 - Hide hearing lists (#1676)
  src/main/models/ListType.ts
  src/main/resources/listLookup.json
  src/main/service/ManualUploadService.ts
  src/main/service/SubscriptionService.ts
  src/test/unit/service/ManualUploadService.test.ts
  src/test/unit/service/SubscriptionService.test.ts
Due: eslint, prettier

Monthly dependency updates
  package.json
  yarn.lock
Due: none

Updating known-issues
  yarn-audit-known-issues
Due: none

Fix Build
  yarn-audit-known-issues
Due: none

Fix Build (#1681)
  yarn-audit-known-issues
Due: none

Pub-3229: Adding hints to subscription-add radio buttons (#1677)
  src/main/resources/locales/cy/subscription-add.json
  src/main/resources/locales/en/subscription-add.json
  src/main/views/subscription-add.njk
  src/test/unit/views/subscription-add.test.ts
Due: eslint, prettier

Update Welsh header text
  src/main/resources/locales/cy/summary-of-publications.json
Due: none

Add tests for Welsh language page
  src/test/unit/views/summary-of-publications.test.ts
Due: eslint, prettier

Update Welsh translation for "sitting at" where this refers to a time
  src/main/resources/locales/cy/crown-daily-pdda-list.json
  src/main/resources/locales/cy/crown-firm-pdda-list.json
  src/main/resources/locales/cy/magistrates-adult-court-list.json
  src/main/resources/locales/cy/magistrates-public-adult-court-list.json
  src/main/resources/locales/cy/magistrates-public-list.json
  src/main/resources/locales/cy/magistrates-standard-list.json
Due: none

Revert Mags Adult List changes as wider review of translations needed
  src/main/resources/locales/cy/magistrates-adult-court-list.json
  src/main/resources/locales/cy/magistrates-public-adult-court-list.json
Due: none

merge master changes into current branch
  src/main/resources/locales/cy/subscription-add.json
  src/main/resources/locales/en/subscription-add.json
  src/main/views/subscription-add.njk
  src/test/unit/views/subscription-add.test.ts
Due: eslint, prettier
