Repository hmcts/pip-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint

eslint:
  run: yarn eslint --fix {staged_files}

prettier:
  run: yarn prettier --write {staged_files}

stylelint:
  run: yarn stylelint {staged_files}

PUB-3175 - Updated default sensitivity
  src/main/resources/listLookup.json
Due: none

PUB-3175 - Updated suppressions
  yarn-audit-known-issues
  yarn.lock
Due: none

Update third-party text
  src/main/controllers/system-admin/CreateThirdPartySubscriberSummaryController.ts
  src/main/controllers/system-admin/DeleteThirdPartySubscriberConfirmationController.ts
  src/main/controllers/system-admin/ManageThirdPartySubscriberOauthConfigSummaryController.ts
Due: eslint, prettier

Update third-party text
  src/main/resources/locales/cy/create-third-party-subscriber-success.json
  src/main/resources/locales/cy/delete-third-party-subscriber-success.json
  src/main/resources/locales/en/create-third-party-subscriber-success.json
  src/main/resources/locales/en/delete-third-party-subscriber-success.json
Due: none

Update third-party text
  src/main/resources/locales/cy/create-third-party-subscriber-success.json
  src/main/resources/locales/cy/delete-third-party-subscriber-success.json
  src/main/resources/locales/en/delete-third-party-subscriber-success.json
Due: none

Suppress security vuln
  src/main/resources/requests/ThirdPartyRequests.ts
  src/test/unit/views/system-admin/manage-third-party-subscriber-oauth-config-summary.test.ts
  yarn-audit-known-issues
Due: eslint, prettier

PUB-3114 - Linting
  src/test/unit/authentication/authentication.test.ts
Due: eslint, prettier

xed failing unit tests
  src/test/unit/controllers/system-admin/ManageThirdPartySubscriberOathConfigController.test.ts
  src/test/unit/controllers/system-admin/ManageThirdPartySubscriberOathConfigSummaryController.test.ts
  src/test/unit/views/system-admin/create-third-party-subscriber-success.test.ts
  src/test/unit/views/system-admin/delete-third-party-subscriber-success.test.ts
  src/test/unit/views/system-admin/manage-third-party-subscriber-oauth-config.test.ts
Due: eslint, prettier

Lint fixes
  src/test/unit/controllers/system-admin/ManageThirdPartySubscriberOathConfigSummaryController.test.ts
Due: eslint, prettier

Fixed failing route test
  src/test/routes/system-admin/manage-third-party-subscriber-oauth-config-summary.test.ts
Due: eslint, prettier

Lint fixes
  src/test/routes/system-admin/manage-third-party-subscriber-oauth-config-summary.test.ts
Due: eslint, prettier

add security.md file (#1632)
  SECURITY.md
Due: none

Add retry for ECONNABORTED timeout error
  package.json
  src/main/resources/requests/utils/axiosConfig.ts
  yarn.lock
Due: eslint, prettier

Lint fixes
  src/main/resources/requests/utils/axiosConfig.ts
Due: eslint, prettier

Suppress security vuln
  src/test/unit/resources/requests/utils/axiosConfig.test.ts
  src/test/unit/resources/requests/utils/axiosConfigTest.ts
  yarn-audit-known-issues
Due: eslint, prettier

update axios config tests
  src/test/unit/resources/requests/utils/axiosConfig.test.ts
Due: eslint, prettier

Lint fixes
  src/test/unit/resources/requests/utils/axiosConfig.test.ts
Due: eslint, prettier

Updated axios retry tests
  src/test/unit/resources/requests/utils/axiosConfig.test.ts
Due: eslint, prettier

Suppress security vuln
  yarn-audit-known-issues
Due: none

fix build
  yarn-audit-known-issues
Due: none

Update accessibility statement
  src/main/resources/locales/cy/accessibility-statement.json
  src/main/resources/locales/en/accessibility-statement.json
Due: none

Update Mags Public List display to include reporting restrictions
  src/main/resources/locales/cy/magistrates-public-list.json
  src/main/resources/locales/en/magistrates-public-list.json
  src/main/service/ListParseHelperService.ts
  src/main/views/style-guide/magistrates-public-list.njk
  src/test/unit/mocks/magistratesPublicList.json
Due: eslint, prettier

Update Mags Public List display to include reporting restrictions
  src/main/service/ListParseHelperService.ts
Due: eslint, prettier

Update Mags Standard List display to include reporting restrictions and application particulars
  src/main/resources/locales/cy/magistrates-standard-list.json
  src/main/resources/locales/en/magistrates-standard-list.json
  src/main/views/style-guide/magistrates-standard-list.njk
  src/test/unit/mocks/magistratesStandardList.json
Due: none

Update tests
  src/main/service/listManipulation/MagistratesStandardListService.ts
  src/test/unit/service/listManipulation/MagistratesStandardListService.test.ts
  src/test/unit/views/style-guide/magistrates-public-list.test.ts
  src/test/unit/views/style-guide/magistrates-standard-list.test.ts
Due: eslint, prettier

Update tests
  src/test/unit/views/style-guide/magistrates-public-list.test.ts
Due: eslint, prettier

Update suppressions
  yarn-audit-known-issues
Due: none

PUB-3114: Monthly dependency updates (#1612)
  .github/workflows/build.yml
  .github/workflows/main.yml
  .nvmrc
  jest.config.js
  package.json
  src/main/models/request/PipRequest.ts
  src/test/unit/authentication/authentication.test.ts
  yarn-audit-known-issues
  yarn.lock
Due: eslint, prettier

Fix Build
  yarn-audit-known-issues
Due: none

Fixed functional test to reflect recent changes
  src/main/resources/locales/cy/delete-third-party-subscriber-success.json
  src/main/resources/locales/en/delete-third-party-subscriber-success.json
  src/test/end-to-end/tests/system-admin/manage-third-party-subscribers.ts
  src/test/unit/views/system-admin/delete-third-party-subscriber-success.test.ts
Due: eslint, prettier

Added nightly tag
  src/test/end-to-end/tests/system-admin/manage-third-party-subscribers.ts
Due: eslint, prettier

Fix Build (#1643)
  yarn-audit-known-issues
Due: none

pdated suppression file
  yarn-audit-known-issues
Due: none

Revert "Merge branch 'master' into PUB-3175-Default-Sensitivity"
  yarn-audit-known-issues
Due: none

PUB-3163 Add functionality to test third-party connection (#1633)
  src/main/assets/scss/main.scss
  src/main/controllers/system-admin/ManageThirdPartySubscribersViewController.ts
  src/main/resources/locales/cy/manage-third-party-subscribers-view.json
  src/main/resources/locales/en/manage-third-party-subscribers-view.json
  src/main/resources/requests/ThirdPartyRequests.ts
  src/main/routes/routes.ts
  src/main/service/ThirdPartyService.ts
  src/main/views/system-admin/manage-third-party-subscribers-view.njk
  src/test/routes/system-admin/manage-third-party-subscribers-view.test.ts
  src/test/unit/controllers/system-admin/ManageThirdPartySubscribersViewController.test.ts
  src/test/unit/requests/thirdPartyRequests.test.ts
  src/test/unit/service/ThirdPartyService.test.ts
  src/test/unit/views/system-admin/manage-third-party-subscribes-view.test.ts
Due: eslint, prettier, stylelint

Fix build issue
  src/main/resources/requests/ThirdPartyRequests.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx, md, yaml, yml, mdx, json}
  stylelint: any of: **/*.scss
