Repository hmcts/pip-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-push:
    scripts:
        'check-for-unsuppressed-vulns.py':
            runner: python3
        commands:
            audit:
                run: yarn audit | cat
pre-commit:
    parallel: true
    commands:
        eslint:
            glob: '*.{js,ts,jsx,tsx}'
            run: yarn eslint --fix {staged_files}
        prettier:
            glob: '*.{js,ts,jsx,tsx, md, yaml, yml, mdx, json}'
            run: yarn prettier --write {staged_files}
        stylelint:
            glob: '**/*.scss'
            run: yarn stylelint {staged_files}

fix build
  src/test/accessibility/accessibility-admin-test.ts
  src/test/end-to-end/tests/custom-steps.ts
Due: eslint, prettier

Fix build (#1663)
  src/test/accessibility/accessibility-admin-test.ts
  src/test/end-to-end/tests/custom-steps.ts
  yarn-audit-known-issues
Due: eslint, prettier

fix build
  yarn-audit-known-issues
Due: none

Fix build apr 26 (#1664)
  yarn-audit-known-issues
Due: none

Bumping chart version/ fixing aliases
  charts/pip-frontend/Chart.yaml
Due: none

PUB-3213: Add links to CaTH Footer
  src/main/resources/locales/cy/template.json
  src/main/resources/locales/en/template.json
  src/main/views/template.njk
  src/test/unit/views/home.test.ts
Due: eslint, prettier

PUB-3213: Add links to CaTH Footer
  src/test/unit/views/home.test.ts
Due: eslint, prettier

Enable Third Party Subscriber End to End Tests
  src/test/end-to-end/tests/system-admin/manage-third-party-subscribers-test.ts
Due: eslint, prettier

Changing wording of Court and tribunal hearings service for consistency
  src/main/resources/locales/en/home.json
  src/test/unit/views/home.test.ts
Due: eslint, prettier

Updating unit test
  src/test/unit/views/home.test.ts
Due: eslint, prettier

Updating summary-of-publications survery link text
  src/main/resources/locales/en/summary-of-publications.json
  src/test/unit/views/summary-of-publications.test.ts
Due: eslint, prettier

Update e2e test APIM destination URL
  src/test/config.ts
Due: eslint, prettier

Update e2e test description
  src/test/end-to-end/tests/system-admin/manage-third-party-subscribers.ts
Due: eslint, prettier

Update e2e test description and URL
  src/test/config.ts
  src/test/end-to-end/tests/system-admin/manage-third-party-subscribers-test.ts
Due: eslint, prettier

Enable Third Party Subscriber End to End Tests (#1667)
  src/test/config.ts
  src/test/end-to-end/tests/system-admin/manage-third-party-subscribers-test.ts
Due: eslint, prettier

PUB-3207: Magistrate lists and survey link (#1658)
  src/main/resources/locales/cy/home.json
  src/main/resources/locales/cy/summary-of-publications.json
  src/main/resources/locales/en/home.json
  src/main/resources/locales/en/summary-of-publications.json
  src/main/views/home.njk
  src/main/views/summary-of-publications.njk
  src/test/unit/views/home.test.ts
  src/test/unit/views/summary-of-publications.test.ts
Due: eslint, prettier

PUB-3212 Crime Portal Magistrates list updates (#1662)
  src/main/resources/locales/cy/magistrates-adult-court-list.json
  src/main/resources/locales/cy/magistrates-public-adult-court-list.json
  src/main/resources/locales/en/magistrates-adult-court-list.json
  src/main/resources/locales/en/magistrates-public-adult-court-list.json
  src/main/views/style-guide/magistrates-adult-court-list.njk
  src/main/views/style-guide/magistrates-public-adult-court-list.njk
  src/test/unit/views/style-guide/magistrates-adult-court-list.test.ts
  src/test/unit/views/style-guide/magistrates-public-adult-court-list.test.ts
Due: eslint, prettier

PUB-3193 - Update to use hmctsprod image (#1650)
  Dockerfile
  charts/pip-frontend/Chart.yaml
  charts/pip-frontend/values.yaml
  docker-compose.yml
Due: none

Removing Publishing Policy from the footer
  src/main/resources/locales/cy/template.json
  src/main/resources/locales/en/template.json
  src/test/unit/views/home.test.ts
Due: eslint, prettier

Update data source name to Libra for CP uploads (#1659)
  src/main/modules/nunjucks/njkFilters.ts
  src/test/unit/modules/nunjucks/njkFilters.test.ts
Due: eslint, prettier

Fix master build
  yarn-audit-known-issues
Due: none

Fix master build (#1668)
  yarn-audit-known-issues
Due: none

PUB-3174 Update Magistrates Standard List heading with sitting time (#1651)
  src/main/assets/scss/main.scss
  src/main/resources/locales/cy/magistrates-standard-list.json
  src/main/resources/locales/en/magistrates-standard-list.json
  src/main/service/listManipulation/MagistratesStandardListService.ts
  src/main/views/style-guide/magistrates-standard-list.njk
  src/test/unit/service/listManipulation/MagistratesStandardListService.test.ts
  src/test/unit/views/style-guide/magistrates-standard-list.test.ts
Due: eslint, prettier, stylelint

Fix security vuln suppressions
  yarn-audit-known-issues
Due: none

Revert "PUB-3207: Magistrate lists and survey link (#1658)"
  src/main/resources/locales/cy/home.json
  src/main/resources/locales/cy/summary-of-publications.json
  src/main/resources/locales/en/home.json
  src/main/resources/locales/en/summary-of-publications.json
  src/main/views/home.njk
  src/main/views/summary-of-publications.njk
  src/test/unit/views/home.test.ts
  src/test/unit/views/summary-of-publications.test.ts
Due: eslint, prettier

PUB-3179 Dependency updates (#1654)
  .github/workflows/close-pr.yml
  .github/workflows/on-pr.yml
  .nvmrc
  package.json
  src/main/service/listManipulation/MagistratesStandardListService.ts
  src/test/unit/service/listManipulation/MagistratesStandardListService.test.ts
  yarn-audit-known-issues
  yarn.lock
Due: eslint, prettier

modify A-Z filter
  src/main/assets/scss/main.scss
  src/main/views/alphabetical-search.njk
Due: stylelint

Fix Fortify Issues
  src/main/controllers/system-admin/ManageThirdPartySubscriptionsController.ts
  src/main/service/KeyVaultService.ts
  src/main/service/ThirdPartyService.ts
  src/test/routes/system-admin/manage-third-party-subscriptions.test.ts
  src/test/unit/controllers/system-admin/ManageThirdPartySubscriptionsController.test.ts
  src/test/unit/service/KeyVaultService.test.ts
  src/test/unit/service/ThirdPartyService.test.ts
Due: eslint, prettier

fix styling
  src/test/routes/system-admin/manage-third-party-subscriptions.test.ts
  src/test/unit/controllers/system-admin/ManageThirdPartySubscriptionsController.test.ts
  src/test/unit/service/ThirdPartyService.test.ts
Due: eslint, prettier

revert changes
  src/main/service/KeyVaultService.ts
  src/test/unit/service/KeyVaultService.test.ts
Due: eslint, prettier

fix code review comments
  src/main/resources/locales/cy/home.json
  src/main/resources/locales/en/home.json
  src/main/views/home.njk
  src/test/unit/views/home.test.ts
Due: eslint, prettier

fix style
  src/test/unit/views/home.test.ts
Due: eslint, prettier

remove text not required
  src/main/resources/locales/cy/home.json
  src/main/resources/locales/en/home.json
Due: none

fix build
  yarn-audit-known-issue
Due: none
