Repository hmcts/pip-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-push:
    scripts:
        'check-for-unsuppressed-vulns.py':
            runner: python3
        commands:
            audit:
                run: yarn audit | cat
pre-commit:
    parallel: true
    commands:
        eslint:
            glob: '*.{js,ts,jsx,tsx}'
            run: yarn eslint --fix {staged_files}
        prettier:
            glob: '*.{js,ts,jsx,tsx, md, yaml, yml, mdx, json}'
            run: yarn prettier --write {staged_files}
        stylelint:
            glob: '**/*.scss'
            run: yarn stylelint {staged_files}

PUB-2872 - Updated known issues
  yarn-audit-known-issues
Due: none

PUB-2872 - Updated
  src/main/controllers/system-admin/BlobViewJsonController.ts
  src/test/routes/system-admin/blob-view-json.test.ts
Due: eslint, prettier

PUB-2872 - Linting
  src/test/routes/system-admin/blob-view-json.test.ts
Due: eslint, prettier

PUB-2847 - Updated frontend
  src/main/resources/locales/cy/court-of-appeal-civil-daily-cause-list.json
Due: none

Administrative Courts: Create Schema and List types (Part 1)
  src/main/resources/listLookup.json
  src/main/resources/locales/cy/birmingham-administrative-court-daily-cause-list.json
  src/main/resources/locales/cy/bristol-and-cardiff-administrative-court-daily-cause-list.json
  src/main/resources/locales/cy/leeds-administrative-court-daily-cause-list.json
  src/main/resources/locales/cy/manchester-administrative-court-daily-cause-list.json
  src/main/resources/locales/en/birmingham-administrative-court-daily-cause-list.json
  src/main/resources/locales/en/bristol-and-cardiff-administrative-court-daily-cause-list.json
  src/main/resources/locales/en/leeds-administrative-court-daily-cause-list.json
  src/main/resources/locales/en/manchester-administrative-court-daily-cause-list.json
  src/main/routes/routes.ts
  src/main/views/style-guide/birmingham-administrative-court-daily-cause-list.njk
  src/main/views/style-guide/bristol-and-cardiff-administrative-court-daily-cause-list.njk
  src/main/views/style-guide/leeds-administrative-court-daily-cause-list.njk
  src/main/views/style-guide/manchester-administrative-court-daily-cause-list.njk
  src/test/a11y/tests/style-guide/birmingham-administrative-court-daily-cause-list.test.ts
  src/test/a11y/tests/style-guide/bristol-and-cardiff-administrative-court-daily-cause-list.test.ts
  src/test/a11y/tests/style-guide/leeds-administrative-court-daily-cause-list.test.ts
  src/test/a11y/tests/style-guide/manchester-administrative-court-daily-cause-list.test.ts
  src/test/routes/style-guide/birmingham-administrative-court-daily-cause-list.test.ts
  src/test/routes/style-guide/bristol-and-cardiff-administrative-court-daily-cause-list.test.ts
  src/test/routes/style-guide/leeds-administrative-court-daily-cause-list.test.ts
  src/test/routes/style-guide/manchester-administrative-court-daily-cause-list.test.ts
  src/test/unit/mocks/birminghamAdministrativeCourtDailyCauseList.json
  src/test/unit/mocks/bristolAndCardiffAdministrativeCourtDailyCauseList.json
  src/test/unit/mocks/leedsAdministrativeCourtDailyCauseList.json
  src/test/unit/mocks/manchesterAdministrativeCourtDailyCauseList.json
  src/test/unit/service/ManualUploadService.test.ts
  src/test/unit/service/PublicationService.test.ts
  src/test/unit/service/SubscriptionService.test.ts
  src/test/unit/views/style-guide/birmingham-administrative-court-daily-cause-list.test.ts
  src/test/unit/views/style-guide/bristol-and-cardiff-administrative-court-daily-cause-list.test.ts
  src/test/unit/views/style-guide/leeds-administrative-court-daily-cause-list.test.ts
  src/test/unit/views/style-guide/manchester-administrative-court-daily-cause-list.test.ts
  src/test/unit/views/subscription-configure-list.test.ts
  yarn-audit-known-issues
Due: eslint, prettier

Fix style
  src/main/resources/listLookup.json
  src/main/routes/routes.ts
  src/test/routes/style-guide/birmingham-administrative-court-daily-cause-list.test.ts
  src/test/routes/style-guide/bristol-and-cardiff-administrative-court-daily-cause-list.test.ts
  src/test/routes/style-guide/leeds-administrative-court-daily-cause-list.test.ts
  src/test/routes/style-guide/manchester-administrative-court-daily-cause-list.test.ts
  src/test/unit/service/SubscriptionService.test.ts
  src/test/unit/views/style-guide/birmingham-administrative-court-daily-cause-list.test.ts
  src/test/unit/views/style-guide/bristol-and-cardiff-administrative-court-daily-cause-list.test.ts
  src/test/unit/views/style-guide/leeds-administrative-court-daily-cause-list.test.ts
  src/test/unit/views/style-guide/manchester-administrative-court-daily-cause-list.test.ts
  src/test/unit/views/subscription-configure-list.test.ts
Due: eslint, prettier

Add UTIAC JR Leeds style guide and template text files
  src/main/resources/locales/cy/ut-iac-jr-leeds-daily-hearing-list.json
  src/main/resources/locales/en/ut-iac-jr-leeds-daily-hearing-list.json
  src/main/views/style-guide/ut-iac-jr-leeds-daily-hearing-list.njk
Due: none

Add UTIAC JR Leeds list to routes and list lookup
  src/main/resources/listLookup.json
  src/main/routes/routes.ts
Due: eslint, prettier

Add UTIAC JR Leeds list mock json
  src/test/unit/mocks/utIacJudicialReviewLeedsDailyHearingList.json
Due: none

Add style guide test
  src/test/unit/views/style-guide/ut-iac-jr-leeds-daily-hearing-list.test.ts
Due: eslint, prettier

Update tests
  src/test/a11y/tests/style-guide/ut-iac-judicial-review-daily-hearing-list.test.ts
  src/test/routes/style-guide/ut-iac-judicial-review-daily-hearing-list.test.ts
  src/test/unit/service/ManualUploadService.test.ts
  src/test/unit/service/PublicationService.test.ts
Due: eslint, prettier

Update style guide and table headers to remove applicant field and add case title field
  src/main/resources/locales/cy/ut-iac-judicial-review-daily-hearing-list.json
  src/main/resources/locales/en/ut-iac-judicial-review-daily-hearing-list.json
  src/main/views/style-guide/ut-iac-judicial-review-daily-hearing-list.njk
Due: none

Update test
  src/test/unit/views/style-guide/ut-iac-judicial-review-daily-hearing-list.test.ts
Due: eslint, prettier

Update test mock json
  src/test/unit/mocks/utIacJudicialReviewDailyHearingList.json
Due: none

fix code review comments
  src/main/resources/requests/DataManagementRequests.ts
  src/main/resources/requests/LocationRequests.ts
  src/main/resources/requests/PublicationRequests.ts
  src/main/service/ListDownloadService.ts
  src/main/service/ManualUploadService.ts
  src/test/unit/requests/locationRequests.test.ts
  src/test/unit/requests/publicationRequests.test.ts
  src/test/unit/service/ListDownloadService.test.ts
  src/test/unit/service/ManualUploadService.test.ts
Due: eslint, prettier

fix style and build
  src/main/resources/requests/PublicationRequests.ts
  src/main/service/ListDownloadService.ts
  src/test/unit/service/ListDownloadService.test.ts
  yarn-audit-known-issues
Due: eslint, prettier

PUB-2817 - Monthly Dependencies (#1473)
  .nvmrc
  Dockerfile
  jestEnvVars.js
  package.json
  src/main/assets/scss/main.scss
  yarn-audit-known-issues
  yarn.lock
Due: eslint, prettier, stylelint

PUB-2810 Add jurisdiction types to location name search filters (#1460)
  src/main/controllers/AlphabeticalSearchController.ts
  src/main/controllers/SubscriptionConfigureListController.ts
  src/main/models/ListType.ts
  src/main/models/Location.ts
  src/main/resources/jurisdictionTypeLookup.json
  src/main/resources/listLookup.json
  src/main/resources/locales/cy/alphabetical-search.json
  src/main/resources/locales/cy/location-name-search.json
  src/main/resources/locales/en/alphabetical-search.json
  src/main/resources/locales/en/location-name-search.json
  src/main/resources/welshJurisdictionLookup.json
  src/main/service/FilterService.ts
  src/main/service/LocationService.ts
  src/main/service/SubscriptionService.ts
  src/main/views/alphabetical-search.njk
  src/main/views/location-name-search.njk
  src/main/views/macros/common-components.njk
  src/test/end-to-end/shared/mocks/reference-data-invalid.csv
  src/test/end-to-end/shared/mocks/system-admin-upload-reference-data-test.csv
  src/test/end-to-end/tests/a-z-list-courts-and-tribunals-test.ts
  src/test/end-to-end/tests/verified/email-subscriptions-test.ts
  src/test/routes/subscription-configure-list.test.ts
  src/test/unit/controllers/AlphabeticalSearchController.test.ts
  src/test/unit/controllers/SubscriptionConfigureListController.test.ts
  src/test/unit/mocks/courtAndHearings.json
  src/test/unit/mocks/deleteReferenceDataCourt.csv
  src/test/unit/mocks/listTypeSubscriptions/listTypeSubscriptions.json
  src/test/unit/mocks/testReferenceData.csv
  src/test/unit/service/FilterService.test.ts
  src/test/unit/service/LocationService.test.ts
  src/test/unit/service/PublicationService.test.ts
  src/test/unit/service/SubscriptionService.test.ts
  src/test/unit/views/alphabetical-search.test.ts
  src/test/unit/views/location-name-search.test.ts
  src/test/unit/views/subscription-configure-list.test.ts
Due: eslint, prettier

fix style
  src/main/resources/listLookup.json
  src/test/unit/service/SubscriptionService.test.ts
  src/test/unit/views/subscription-configure-list.test.ts
Due: eslint, prettier

fix style
  src/test/unit/service/SubscriptionService.test.ts
  src/test/unit/views/subscription-configure-list.test.ts
Due: eslint, prettier

fix styles
  src/main/resources/listLookup.json
  src/test/unit/service/SubscriptionService.test.ts
  src/test/unit/views/subscription-configure-list.test.ts
Due: eslint, prettier

fix style
  src/test/unit/views/subscription-configure-list.test.ts
Due: eslint, prettier

fix code review comments
  src/main/resources/listLookup.json
  src/test/unit/service/SubscriptionService.test.ts
  src/test/unit/views/subscription-configure-list.test.ts
Due: eslint, prettier

fix styling
  src/test/unit/views/subscription-configure-list.test.ts
Due: eslint, prettier

fix unit tests
  src/test/unit/views/subscription-configure-list.test.ts
Due: eslint, prettier

PUB-2874 - Update text on home page (#1475)
  src/main/resources/locales/cy/home.json
  src/main/resources/locales/en/home.json
  src/test/end-to-end/tests/unverified-user-end-to-end-journey-test.ts
  src/test/unit/views/home.test.ts
Due: eslint, prettier

fix unit tests
  src/main/resources/listLookup.json
  src/test/unit/service/SubscriptionService.test.ts
  src/test/unit/views/subscription-configure-list.test.ts
Due: eslint, prettier

fix code review comment
  src/main/resources/listLookup.json
  src/test/unit/service/SubscriptionService.test.ts
Due: eslint, prettier

Update tests
  src/test/unit/service/ManualUploadService.test.ts
  src/test/unit/service/PublicationService.test.ts
  src/test/unit/views/subscription-configure-list.test.ts
Due: eslint, prettier

Update friendly name
  src/main/resources/listLookup.json
Due: none

Update test
  src/test/unit/views/subscription-configure-list.test.ts
Due: eslint, prettier

Update known issues
  yarn-audit-known-issues
Due: none

Add jurisdiction types for UT IAC Leeds list
  src/main/resources/listLookup.json
Due: none
