Repository hmcts/pip-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-push:
    scripts:
        'check-for-unsuppressed-vulns.py':
            runner: python3
        commands:
            audit:
                run: yarn audit | cat
pre-commit:
    parallel: true
    commands:
        eslint:
            glob: '*.{js,ts,jsx,tsx}'
            run: yarn eslint --fix {staged_files}
        prettier:
            glob: '*.{js,ts,jsx,tsx, md, yaml, yml, mdx, json}'
            run: yarn prettier --write {staged_files}
        stylelint:
            glob: '**/*.scss'
            run: yarn stylelint {staged_files}

Add PCOL Daily Cause List
  src/main/resources/listLookup.json
Due: none

Update failing unit tests
  src/test/unit/service/ManualUploadService.test.ts
  src/test/unit/service/PublicationService.test.ts
  src/test/unit/views/subscription-configure-list.test.ts
Due: eslint, prettier

Lint fixes
  src/test/unit/service/ManualUploadService.test.ts
  src/test/unit/service/PublicationService.test.ts
Due: eslint, prettier

Remove Care Standards and Primary Health list types
  src/main/controllers/style-guide/TribunalNationalListsController.ts
  src/main/resources/listLookup.json
  src/main/resources/locales/cy/care-standards-list.json
  src/main/resources/locales/cy/primary-health-list.json
  src/main/resources/locales/en/care-standards-list.json
  src/main/resources/locales/en/primary-health-list.json
  src/main/routes/routes.ts
  src/main/service/listManipulation/TribunalNationalListsService.ts
  src/main/views/style-guide/care-standards-list.njk
  src/main/views/style-guide/primary-health-list.njk
  src/test/a11y/tests/style-guide/care-standards-list.test.ts
  src/test/a11y/tests/style-guide/primary-health-list.test.ts
  src/test/routes/style-guide/care-standards-list.test.ts
  src/test/routes/style-guide/primary-health-list.test.ts
  src/test/unit/controllers/style-guide/TribunalNationalListsController.test.ts
  src/test/unit/helpers/dateTimeHelper.test.ts
  src/test/unit/service/listManipulation/TribunalNationalListsService.test.ts
  src/test/unit/views/style-guide/care-standards-list.test.ts
  src/test/unit/views/style-guide/primary-health-list.test.ts
Due: eslint, prettier

Removed unused unit test files
  src/test/unit/mocks/careStandardsList.json
  src/test/unit/mocks/primaryHealthList.json
Due: none

Fixed failing unit tests
  src/test/unit/service/ManualUploadService.test.ts
  src/test/unit/service/PublicationService.test.ts
Due: eslint, prettier

Update favicon path
  src/main/app.ts
Due: eslint, prettier

PUB-2825 Update styling in new GOV.UK frontend (#1495)
  package.json
  src/main/app.ts
  src/main/assets/scss/main.scss
  src/main/modules/nunjucks/index.ts
  src/main/views/macros/common-components.njk
  src/main/views/template.njk
  webpack/govukFrontend.js
  yarn.lock
Due: eslint, prettier, stylelint

Removed primary health from e2e tests
  src/test/end-to-end/shared/mocks/civilDailyCauseList.json
  src/test/end-to-end/shared/mocks/primaryHealthList.json
  src/test/end-to-end/tests/sorting-list-table-test.ts
Due: eslint, prettier

Correct e2e test
  src/test/end-to-end/tests/sorting-list-table-test.ts
Due: eslint, prettier

Correct e2e test
  src/test/end-to-end/shared/mocks/civilDailyCauseList.json
  src/test/end-to-end/tests/sorting-list-table-test.ts
Due: eslint, prettier

Update HMI e2e test
  src/test/end-to-end/tests/hmi-publication-receipt-test.ts
Due: eslint, prettier

Remove list type from cache after location subscription is removed (#1496)
  src/main/controllers/PendingSubscriptionsController.ts
  src/main/controllers/SubscriptionConfirmationPreviewController.ts
  src/main/service/SubscriptionService.ts
  src/test/unit/controllers/PendingSubscriptionsController.test.ts
  src/test/unit/controllers/SubscriptionConfigureListPreviewController.test.ts
  src/test/unit/controllers/SubscriptionConfirmationPreviewController.test.ts
  src/test/unit/service/SubscriptionService.test.ts
Due: eslint, prettier

PUB-2878 - Updated Dependencies (#1497)
  .yarn/releases/yarn-4.7.0.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
  src/main/assets/scss/main.scss
  src/test/fortify/build.gradle
  src/test/fortify/gradle/wrapper/gradle-wrapper.jar
  src/test/fortify/gradle/wrapper/gradle-wrapper.properties
  src/test/fortify/gradlew
  src/test/fortify/gradlew.bat
  src/test/unit/middlewares/fileErrorHandler.middleware.test.ts
  yarn-audit-known-issues
  yarn.lock
Due: eslint, prettier, stylelint

PUB-2918 - Removed planning daily cause list
  src/main/resources/listLookup.json
  src/main/resources/locales/en/planning-court-daily-cause-list.json
  src/main/routes/routes.ts
  src/test/a11y/tests/style-guide/planning-court-daily-cause-list.test.ts
  src/test/routes/style-guide/planning-court-daily-cause-list.test.ts
  src/test/unit/service/ManualUploadService.test.ts
  src/test/unit/service/PublicationService.test.ts
  src/test/unit/views/style-guide/planning-court-daily-cause-list.test.ts
  src/test/unit/views/subscription-configure-list.test.ts
Due: eslint, prettier

PUB-2918 - Removed planning daily cause list
  src/test/unit/service/ManualUploadService.test.ts
  src/test/unit/service/PublicationService.test.ts
Due: eslint, prettier

Update address for Senior Courts Costs Office Daily Cause List (#1498)
  src/main/resources/locales/cy/senior-courts-costs-office-daily-cause-list.json
  src/main/resources/locales/en/senior-courts-costs-office-daily-cause-list.json
  src/main/views/style-guide/senior-courts-costs-office-daily-cause-list.njk
  src/test/unit/views/style-guide/senior-courts-costs-office-daily-cause-list.test.ts
Due: eslint, prettier

Add CIC Weekly Hearing List
  src/main/resources/locales/cy/cic-weekly-hearing-list.json
Due: none

Add CIC Weekly Hearing List
  src/main/resources/locales/en/cic-weekly-hearing-list.json
Due: none

Add CIC Weekly Hearing List
  src/main/views/style-guide/cic-weekly-hearing-list.njk
  src/test/unit/mocks/cicWeeklyHearingList.json
Due: none

Add CIC Weekly Hearing List
  src/main/resources/listLookup.json
Due: none

Add tests for CIC Weekly Hearing List
  src/test/a11y/tests/style-guide/cic-weekly-hearing-list.test.ts
  src/test/routes/style-guide/cic-weekly-hearing-list.test.ts
  src/test/unit/views/style-guide/cic-weekly-hearing-list.test.ts
Due: eslint, prettier

Add CIC Weekly Hearing List
  src/main/routes/routes.ts
  src/test/unit/service/ManualUploadService.test.ts
  src/test/unit/service/PublicationService.test.ts
Due: eslint, prettier

Add RCJ to CaTH interstitial page (#1499)
  src/main/resources/locales/cy/home.json
  src/main/resources/locales/en/home.json
  src/test/end-to-end/tests/unverified-user-end-to-end-journey-test.ts
  src/test/unit/views/home.test.ts
Due: eslint, prettier

Fixed Welsh text display during subscription process
  lefthook.yml
  src/main/controllers/PendingSubscriptionsController.ts
  src/main/helpers/sortHelper.ts
  src/main/service/SubscriptionService.ts
  src/main/views/pending-subscriptions.njk
  src/main/views/subscription-confirmation-preview.njk
  src/test/unit/controllers/PendingSubscriptionsController.test.ts
  src/test/unit/helpers/sortHelper.test.ts
  src/test/unit/service/SubscriptionService.test.ts
  src/test/unit/views/pending-subscriptions.test.ts
  src/test/unit/views/subscription-confirmation-preview.test.ts
Due: eslint, prettier

Revert changes in lefthook yml file
  lefthook.yml
Due: none

PUB-2918 - Removed uneeded file
  src/main/resources/locales/cy/planning-court-daily-cause-list.json
Due: none

PUB-2903 Add PCOL Daily Cause List (#1500)
  src/main/resources/listLookup.json
  src/test/unit/service/ManualUploadService.test.ts
  src/test/unit/service/PublicationService.test.ts
  src/test/unit/views/subscription-configure-list.test.ts
Due: eslint, prettier

Stop deletion of list types if there are remaining location subscription
  src/main/controllers/BulkUnsubscribeConfirmationController.ts
  src/main/controllers/UnsubscribeConfirmationController.ts
  src/main/controllers/system-admin/ManageThirdPartyUsersSubscriptionsController.ts
  src/main/service/SubscriptionService.ts
  src/main/service/ThirdPartyService.ts
  src/test/unit/service/SubscriptionService.test.ts
  src/test/unit/service/ThirdPartyService.test.ts
Due: eslint, prettier

Improve sonar code coverage
  src/test/unit/controllers/BulkUnsubscribeConfirmationController.test.ts
  src/test/unit/controllers/UnsubscribeConfirmationController.test.ts
  src/test/unit/service/SubscriptionService.test.ts
Due: eslint, prettier

Lint fix
  src/test/unit/service/SubscriptionService.test.ts
Due: eslint, prettier

Added accessibility tests for verified-user email subscription process
  src/test/accessibility/accessibility-verified-test.ts
Due: eslint, prettier

PUB-2896 - Added new list type
  src/main/resources/jurisdictionTypeLookup.json
  src/main/resources/listLookup.json
  src/main/resources/locales/cy/send-daily-hearing-list.json
  src/main/resources/locales/en/send-daily-hearing-list.json
  src/main/routes/routes.ts
  src/main/views/style-guide/send-daily-hearing-list.njk
  src/test/a11y/tests/style-guide/send-daily-hearing-list.test.ts
  src/test/routes/style-guide/send-daily-hearing-list.test.ts
  src/test/unit/mocks/sendDailyHearingList.json
  src/test/unit/service/ManualUploadService.test.ts
  src/test/unit/service/PublicationService.test.ts
  src/test/unit/views/style-guide/send-daily-hearing-list.test.ts
Due: eslint, prettier

PUB-2896 - Fixed linting
  src/main/routes/routes.ts
  src/test/routes/style-guide/send-daily-hearing-list.test.ts
  src/test/unit/views/style-guide/send-daily-hearing-list.test.ts
Due: eslint, prettier

ode review feedback
  src/main/service/SubscriptionService.ts
  src/main/service/ThirdPartyService.ts
Due: eslint, prettier

PUB-2896 - Code review comments
  src/main/resources/listLookup.json
  src/main/resources/locales/cy/send-daily-hearing-list.json
  src/test/unit/views/style-guide/send-daily-hearing-list.test.ts
Due: eslint, prettier
