Repository hmcts/pip-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-push:
    scripts:
        'check-for-unsuppressed-vulns.py':
            runner: python3
        commands:
            audit:
                run: yarn audit | cat
pre-commit:
    parallel: true
    commands:
        eslint:
            glob: '*.{js,ts,jsx,tsx}'
            run: yarn eslint --fix {staged_files}
        prettier:
            glob: '*.{js,ts,jsx,tsx, md, yaml, yml, mdx, json}'
            run: yarn prettier --write {staged_files}
        stylelint:
            glob: '**/*.scss'
            run: yarn stylelint {staged_files}

Added next to pass in to default error handler
  src/main/app.ts
Due: eslint, prettier

Use express rather than body-parser
  src/main/app.ts
Due: eslint, prettier

Revert changes to replace bodyparser
  src/main/app.ts
Due: eslint, prettier

Amended the existing test to include publications with the 'PRIVATE' sensitivity in the 'Blob Explorer' flow.
  src/test/end-to-end/tests/system-admin/blob-explorer-test.ts
Due: eslint, prettier

Remove bespoke beta link styling (#1534)
  src/main/assets/scss/main.scss
Due: stylelint

PUB-3000 - Dependency updates
  .nvmrc
  .yarn/releases/yarn-4.9.2.cjs
  .yarn/releases/yarn-4.9.4.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

PUB-3000 - Updated fortify
  src/test/fortify/build.gradle
Due: none

PUB-3000 - Updated fortify
  src/test/fortify/build.gradle
  src/test/fortify/gradle/wrapper/gradle-wrapper.jar
  src/test/fortify/gradle/wrapper/gradle-wrapper.properties
  src/test/fortify/gradlew
  src/test/fortify/gradlew.bat
  yarn.lock
Due: none

PUB-3000 - Updated to new MOJ Frontend version
  package.json
  yarn.lock
Due: none

PUB-3000 - Removed jQuery
  src/main/views/macros/common-components.njk
  webpack.config.js
  webpack/jquery.js
  webpack/ministryOfJusticeFrontend.js
Due: eslint, prettier

Add ability to read location metadata message in HTML and plain text (#1530)
  src/main/controllers/SummaryOfPublicationsController.ts
  src/main/modules/nunjucks/njkFilters.ts
  src/main/views/summary-of-publications.njk
  src/test/unit/controllers/SummaryOfPublicationsController.test.ts
  src/test/unit/modules/nunjucks/njkFilters.test.ts
  src/test/unit/views/summary-of-publications.test.ts
Due: eslint, prettier

PDDA Crown Firm List
  src/main/controllers/style-guide/CrownFirmPddaListController.ts
  src/main/resources/listLookup.json
  src/main/resources/locales/cy/crown-firm-pdda-list.json
  src/main/resources/locales/en/crown-firm-pdda-list.json
  src/main/routes/routes.ts
  src/main/service/listManipulation/CrownFirmPddaListService.ts
  src/main/views/style-guide/crown-firm-pdda-list.njk
  src/test/a11y/tests/style-guide/crown-firm-pdda-list.test.ts
  src/test/routes/style-guide/crown-firm-pdda-list.test.ts
  src/test/unit/controllers/style-guide/CrownFirmPddaListController.test.ts
  src/test/unit/mocks/crownFirmPddaList.json
  src/test/unit/service/ManualUploadService.test.ts
  src/test/unit/service/PublicationService.test.ts
  src/test/unit/service/SubscriptionService.test.ts
  src/test/unit/service/listManipulation/CrownFirmPddaListService.test.ts
  src/test/unit/views/style-guide/crown-firm-pdda-list.test.ts
Due: eslint, prettier

Lint fixes
  src/main/service/listManipulation/CrownFirmPddaListService.ts
  src/test/routes/style-guide/crown-firm-pdda-list.test.ts
  src/test/unit/controllers/style-guide/CrownFirmPddaListController.test.ts
  src/test/unit/service/SubscriptionService.test.ts
  src/test/unit/service/listManipulation/CrownFirmPddaListService.test.ts
  src/test/unit/views/style-guide/crown-firm-pdda-list.test.ts
Due: eslint, prettier

Fixed a11y test failure
  src/main/views/style-guide/crown-firm-pdda-list.njk
Due: none

Fixed security vulnerability
  src/main/modules/nunjucks/njkFilters.ts
  src/main/routes/routes.ts
  src/test/unit/controllers/SummaryOfPublicationsController.test.ts
  src/test/unit/views/summary-of-publications.test.ts
  yarn-audit-known-issues
Due: eslint, prettier

PUB-2861 Fixed blob explorer not showing Private and Classified publications (#1528)
  src/main/controllers/system-admin/BlobViewLocationsController.ts
  src/main/modules/nunjucks/njkFilters.ts
  src/main/routes/routes.ts
  src/main/views/system-admin/blob-view-publication.njk
  src/test/end-to-end/tests/system-admin/blob-explorer-test.ts
  src/test/unit/controllers/SummaryOfPublicationsController.test.ts
  src/test/unit/views/summary-of-publications.test.ts
  src/test/unit/views/system-admin/blob-view-locations.test.ts
  src/test/unit/views/system-admin/blob-view-publication.test.ts
  src/test/unit/views/system-admin/blob-view-publications.test.ts
  yarn-audit-known-issues
Due: eslint, prettier

Update list type friendly name
  src/main/resources/listLookup.json
Due: none

Revert update to list type friendly name
  src/main/resources/listLookup.json
Due: none

Removed unused texts
  src/main/resources/locales/cy/crown-firm-pdda-list.json
  src/main/resources/locales/en/crown-firm-pdda-list.json
Due: none

Removed trailing comma
  src/main/resources/locales/cy/crown-firm-pdda-list.json
  src/main/resources/locales/en/crown-firm-pdda-list.json
Due: none

PDDA Crown Daily List
  src/main/controllers/style-guide/CrownPddaListController.ts
  src/main/resources/listLookup.json
  src/main/resources/locales/cy/crown-daily-pdda-list.json
  src/main/resources/locales/en/crown-daily-pdda-list.json
  src/main/routes/routes.ts
  src/main/service/listManipulation/CrownPddaListService.ts
  src/main/views/style-guide/crown-daily-pdda-list.njk
  src/test/a11y/tests/style-guide/crown-firm-pdda-list.test.ts
  src/test/a11y/tests/style-guide/crown-pdda-list.test.ts
  src/test/routes/style-guide/crown-firm-pdda-list.test.ts
  src/test/routes/style-guide/crown-pdda-list.test.ts
  src/test/unit/controllers/style-guide/CrownPddaListController.test.ts
  src/test/unit/mocks/crownDailyPddaList.json
  src/test/unit/service/ManualUploadService.test.ts
  src/test/unit/service/PublicationService.test.ts
  src/test/unit/service/SubscriptionService.test.ts
  src/test/unit/service/listManipulation/CrownFirmPddaListService.test.ts
  src/test/unit/service/listManipulation/CrownPddaListService.test.ts
  src/test/unit/views/style-guide/crown-daily-pdda-list.test.ts
Due: eslint, prettier

fix build
  yarn-audit-known-issues
Due: none

Suppress security vuln
  src/main/controllers/style-guide/CrownPddaListController.ts
  src/main/service/listManipulation/CrownPddaListService.ts
  src/test/a11y/tests/style-guide/crown-pdda-list.test.ts
  src/test/unit/controllers/style-guide/CrownPddaListController.test.ts
  src/test/unit/views/style-guide/crown-daily-pdda-list.test.ts
  yarn-audit-known-issues
Due: eslint, prettier

Pub 2798 b (#1540)
  yarn-audit-known-issues
Due: none

Add test file
  src/test/unit/mocks/crownDailyPddaList.json
Due: none

Update test file
  src/test/unit/mocks/crownDailyPddaList.json
Due: none

Update court name spacing
  src/main/views/style-guide/crown-daily-pdda-list.njk
Due: none

Fix failing tests
  src/main/controllers/style-guide/CrownPddaListController.ts
  src/test/unit/mocks/crownDailyPddaList.json
Due: eslint, prettier

Add link to quick guide to open justice statement
  src/main/resources/locales/cy/court-of-appeal-criminal-daily-cause-list.json
  src/main/resources/locales/en/court-of-appeal-criminal-daily-cause-list.json
  src/main/views/style-guide/court-of-appeal-criminal-daily-cause-list.njk
Due: none

Lint fixes
  src/main/controllers/style-guide/CrownPddaListController.ts
Due: eslint, prettier

Update test
  src/test/unit/views/style-guide/court-of-appeal-criminal-daily-cause-list.test.ts
Due: eslint, prettier

Move full stop outside linked text to match other links
  src/main/resources/locales/cy/court-of-appeal-criminal-daily-cause-list.json
  src/main/resources/locales/en/court-of-appeal-criminal-daily-cause-list.json
  src/main/views/style-guide/court-of-appeal-criminal-daily-cause-list.njk
Due: none

Fixed e2e test failure after 6.0.2 release
  src/test/end-to-end/shared/testingSupportApi.ts
Due: eslint, prettier

Fixed e2e test failure after 6.0.2 release (#1542)
  src/test/end-to-end/shared/testingSupportApi.ts
Due: eslint, prettier

Move full stop inline
  src/main/resources/locales/cy/court-of-appeal-criminal-daily-cause-list.json
  src/main/resources/locales/en/court-of-appeal-criminal-daily-cause-list.json
  src/main/views/style-guide/court-of-appeal-criminal-daily-cause-list.njk
Due: none

Create style guide, unit test WIP
  src/main/controllers/style-guide/CrownWarnedPddaListController.ts
  src/main/resources/listLookup.json
  src/main/resources/locales/cy/crown-warned-pdda-list.json
  src/main/resources/locales/en/crown-warned-pdda-list.json
  src/main/routes/routes.ts
  src/main/service/listManipulation/CrownPddaListService.ts
  src/main/service/listManipulation/CrownWarnedPddaListService.ts
  src/main/views/style-guide/crown-warned-pdda-list.njk
  src/test/unit/controllers/style-guide/CrownWarnedPddaListController.test.ts
  src/test/unit/mocks/crownWarnedPddaList.json
  src/test/unit/service/listManipulation/CrownWarnedPddaListService.test.ts
Due: eslint, prettier

fix styling
  src/main/controllers/style-guide/CrownWarnedPddaListController.ts
  src/main/service/listManipulation/CrownWarnedPddaListService.ts
  src/test/unit/controllers/style-guide/CrownWarnedPddaListController.test.ts
Due: eslint, prettier

Update list sensitivity
  src/main/resources/listLookup.json
Due: none
