Repository hmcts/pip-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, stylelint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-push:
    scripts:
        'check-for-unsuppressed-vulns.py':
            runner: python3
        commands:
            audit:
                run: yarn audit | cat
pre-commit:
    parallel: true
    commands:
        eslint:
            glob: '*.{js,ts,jsx,tsx}'
            run: yarn eslint --fix {staged_files}
        prettier:
            glob: '*.{js,ts,jsx,tsx, md, yaml, yml, mdx, json}'
            run: yarn prettier --write {staged_files}
        stylelint:
            glob: '**/*.scss'
            run: yarn stylelint {staged_files}

Enable full functional tests
  package.json
  src/test/end-to-end/tests/banner-navigation-test.ts
Due: eslint, prettier

Disable full functional tests
  package.json
Due: none

Removed redundant home buttons
  src/main/assets/scss/main.scss
  src/main/resources/locales/cy/cft-rejected-login.json
  src/main/resources/locales/cy/media-rejected-login.json
  src/main/resources/locales/cy/sso-rejected-login.json
  src/main/resources/locales/cy/template.json
  src/main/resources/locales/en/cft-rejected-login.json
  src/main/resources/locales/en/media-rejected-login.json
  src/main/resources/locales/en/sso-rejected-login.json
  src/main/views/admin-rejected-login.njk
  src/main/views/cancelled-password-reset.njk
  src/main/views/cft-rejected-login.njk
  src/main/views/media-rejected-login.njk
  src/main/views/password-change-confirmation.njk
  src/main/views/sso-rejected-login.njk
  src/main/views/template.njk
Due: stylelint

Update template file
  src/main/views/template.njk
Due: none

fix bug
  src/main/service/SubscriptionService.ts
Due: eslint, prettier

Updated existing email subscription test and added one new scenario
  src/test/end-to-end/tests/verified/email-subscriptions-test.ts
Due: eslint, prettier

fix code review comment
  src/main/service/AuditLogService.ts
Due: eslint, prettier

Update suppressions
  yarn-audit-known-issues
Due: none

Make filter date param as optional
  src/main/service/AuditLogService.ts
Due: eslint, prettier

PUB-2561 - Fix AXE findings (#1384)
  src/main/views/admin/remove-list-search-results.njk
Due: none

PUB-2561 - Fix AXE findings (#1384) (#1387)
  src/main/views/admin/remove-list-search-results.njk
Due: none

fix styling
  src/test/unit/service/AuditLogService.test.ts
Due: eslint, prettier

Update CSS
  src/main/assets/scss/main.scss
  src/main/views/home.njk
  src/main/views/template.njk
Due: stylelint

Update service navigation styling
  src/main/assets/scss/main.scss
  src/main/controllers/AccountHomeController.ts
  src/main/controllers/SubscriptionManagementController.ts
  src/main/controllers/admin/AdminDashboardController.ts
  src/main/controllers/system-admin/SystemAdminDashboardController.ts
  src/main/resources/locales/cy/home.json
  src/main/resources/locales/en/home.json
  src/main/views/home.njk
  src/main/views/template.njk
Due: eslint, prettier, stylelint

Removed padding in CSS
  src/main/assets/scss/main.scss
Due: stylelint

fix e2e test
  src/test/end-to-end/tests/verified/email-subscriptions-test.ts
Due: eslint, prettier

Fixed failing unit tests
  src/main/views/macros/common-components.njk
  src/test/unit/controllers/AccountHomeController.test.ts
  src/test/unit/controllers/SubscriptionManagementController.test.ts
  src/test/unit/controllers/admin/AdminDashboardController.test.ts
  src/test/unit/controllers/system-admin/SystemAdminDashboardController.test.ts
  src/test/unit/views/home.test.ts
Due: eslint, prettier

fix styling issue
  src/main/views/system-admin/audit-log-viewer.njk
Due: none

Add ServiceNow lin
  src/main/resources/locales/cy/sso-rejected-login.json
  src/main/resources/locales/en/sso-rejected-login.json
  src/main/views/sso-rejected-login.njk
  src/test/unit/views/sso-rejected-login.test.ts
Due: eslint, prettier

Lint fixes
  src/test/unit/views/sso-rejected-login.test.ts
Due: eslint, prettier

PUB-2681 - System Admin Notification
  src/main/controllers/system-admin/DeleteCourtReferenceDataConfirmationController.ts
  src/main/controllers/system-admin/DeleteCourtSubscriptionConfirmationController.ts
  src/main/resources/requests/LocationRequests.ts
  src/main/resources/requests/PublicationRequests.ts
  src/main/resources/requests/SubscriptionRequests.ts
  src/main/service/LocationService.ts
  src/main/service/PublicationService.ts
  src/main/service/SubscriptionService.ts
Due: eslint, prettier

PUB-2681 - Updated ts files
  src/main/resources/requests/LocationRequests.ts
  src/main/resources/requests/PublicationRequests.ts
  src/main/resources/requests/SubscriptionRequests.ts
  src/main/service/PublicationService.ts
  src/main/service/SubscriptionService.ts
Due: eslint, prettier

PUB-2681 - Added unit tests
  src/test/unit/controllers/system-admin/DeleteCourtReferenceDataConfirmationController.test.ts
  src/test/unit/controllers/system-admin/DeleteCourtSubscriptionConfirmationController.test.ts
  src/test/unit/requests/locationRequests.test.ts
  src/test/unit/requests/publicationRequests.test.ts
  src/test/unit/requests/subscriptionRequest.test.ts
  src/test/unit/service/LocationService.test.ts
  src/test/unit/service/PublicationService.test.ts
  src/test/unit/service/SubscriptionService.test.ts
Due: eslint, prettier

PUB-2681 - Linting
  src/test/unit/requests/publicationRequests.test.ts
  src/test/unit/requests/subscriptionRequest.test.ts
  src/test/unit/service/LocationService.test.ts
Due: eslint, prettier

PUB-2681 - Update System Admin part 2 - remove x-provenance-id
  src/main/controllers/system-admin/DeleteCourtReferenceDataConfirmationController.ts
  src/main/controllers/system-admin/DeleteCourtSubscriptionConfirmationController.ts
  src/main/resources/requests/LocationRequests.ts
  src/main/resources/requests/PublicationRequests.ts
  src/main/resources/requests/SubscriptionRequests.ts
  src/main/service/LocationService.ts
  src/main/service/PublicationService.ts
  src/main/service/SubscriptionService.ts
  src/test/unit/controllers/system-admin/DeleteCourtReferenceDataConfirmationController.test.ts
  src/test/unit/controllers/system-admin/DeleteCourtSubscriptionConfirmationController.test.ts
  src/test/unit/requests/locationRequests.test.ts
  src/test/unit/requests/publicationRequests.test.ts
  src/test/unit/requests/subscriptionRequest.test.ts
  src/test/unit/service/LocationService.test.ts
  src/test/unit/service/PublicationService.test.ts
  src/test/unit/service/SubscriptionService.test.ts
Due: eslint, prettier

PUB-2681 - FIxed unit tests
  src/main/controllers/system-admin/DeleteCourtReferenceDataConfirmationController.ts
  src/main/resources/requests/PublicationRequests.ts
  src/main/resources/requests/SubscriptionRequests.ts
  src/main/service/PublicationService.ts
  src/main/service/SubscriptionService.ts
  src/test/unit/requests/publicationRequests.test.ts
  src/test/unit/requests/subscriptionRequest.test.ts
Due: eslint, prettier

fix bug
  src/main/service/AuditLogService.ts
Due: eslint, prettier

fix style
  src/main/service/SubscriptionService.ts
Due: eslint, prettier

fix build
  yarn-audit-known-issues
Due: none

PUB-2664 Add ServiceNow link to SSO rejected login page (#1390)
  src/main/resources/locales/cy/sso-rejected-login.json
  src/main/resources/locales/en/sso-rejected-login.json
  src/main/views/sso-rejected-login.njk
  src/test/unit/views/sso-rejected-login.test.ts
Due: eslint, prettier

Updated system admin audit log test
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/test/config.ts
  src/test/end-to-end/tests/system-admin/audit-log-test.ts
Due: eslint, prettier

Updated system admin audit log test
  src/test/end-to-end/tests/system-admin/audit-log-test.ts
Due: eslint, prettier
